@using FilmHouse.App.Presentation.Web.UI.Models.Components;

@model CelebritiesLinkViewModel

@{
    if (Model.Type == "Directors")
    {
        <span style="color:#808080;">导演:</span>
    }
    if (Model.Type == "Writers")
    {
        <span style="color:#808080;">编剧:</span>
    }
    if (Model.Type == "Casts")
    {
        <span style="color:#808080;">演员:</span>
    }

    foreach (var item in Model.Celebrities)
    {
        if (item.Id != null && !string.IsNullOrEmpty(item.Id.AsPrimitive().ToString()))
        {
            <a href="/Celeb/Index?celebrityId=@item.Id" class="link-text" target="_self">@item.Name</a>
        }
        else
        {
            <span>@item.Name</span>
        }
    }
}
