@using FilmHouse.App.Presentation.Web.UI.Models.Components;

@model CelebritiesLinkViewModel

@{
    if (Model.Type == "Directors")
    {
        <span style="color:#808080;">导演:</span>
    }
    if (Model.Type == "Writers")
    {
        <span style="color:#808080;">编剧:</span>
    }
    if (Model.Type == "Casts")
    {
        <span style="color:#808080;">演员:</span>
    }

    foreach (var item in Model.Celebrities)
    {
        if (!string.IsNullOrEmpty(item.Value))
        {
            <a href="/Celeb/Index?celebrityId=@item.Value" class="link-text" target="_self">@item.Text</a>
        }
        else
        {
            <span>@item.Text</span>
        }
    }
}
