@using FilmHouse.Core.ValueObjects;
@model List<SelectListItem>

@{
    <span style="color:#808080;">类型:</span>
    foreach (var item in Model)
    {
        <a class="link-text" href="/Search/Index?genre=@item.Value" target="_self">@item.Text</a>
    }
}
