body {
    padding-top: 50px;
    padding-bottom: 0px; /*Modified*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.link-sub {
    padding: 0px;
    color: #FAFAFA;
    margin-left: 8px;
    margin-right: 8px;
}

    .link-sub:hover,
    .link-sub:focus,
    .link-sub:active {
        color: #E6E6E6;
        text-decoration: none;
    }

.span-search {
    border-width: 0px;
    background-color: #FFFFFF;
    border-radius: 0px;
}

.input-search {
    border-width: 0px;
    border-radius: 0px;
}

    .input-search:focus,
    .input-search:active {
        -webkit-box-shadow: 0 0 16px #8FBC8F;
        -moz-box-shadow: 0 0 16px #8FBC8F;
        box-shadow: 0 0 16px #8FBC8F;
    }

.btn-search {
    border-width: 0px;
    border-radius: 0px;
}

    .btn-search:hover {
        color: #8FBC8F;
    }