@using FilmHouse.App.Presentation.Web.UI.Models.Components;
@using FilmHouse.Core.ValueObjects;

@model SubMenuLinkViewModel

@{
    <div class="row no-margin no-padding">
        <a class="link-sub">热门分类：</a>
        @foreach (var item in Model.SubMenus)
        {
            var searchKey = @item.Group.Equals(CodeGroupVO.Codes.Country) ? "country" : "genre";

            <a class="link-sub" href="/Search/Index?@searchKey=@item.Code" target="_self">@item.Name</a>
        }
    </div>
}
