<div class="row no-margin no-padding">
    <a class="link-sub">热门分类：</a>
    <a class="link-sub" href="/Search/Index?country=10" target="_self">大陆</a>
    <a class="link-sub" href="/Search/Index?country=11" target="_self">香港</a>
    <a class="link-sub" href="/Search/Index?country=12" target="_self">美国</a>
    <a class="link-sub" href="/Search/Index?country=14" target="_self">日本</a>
    <a class="link-sub" href="/Search/Index?genre=14" target="_self">动作</a>
    <a class="link-sub" href="/Search/Index?genre=12" target="_self">喜剧</a>
    <a class="link-sub" href="/Search/Index?genre=15" target="_self">科幻</a>
    <a class="link-sub" href="/Search/Index?genre=22" target="_self">悬疑</a>
    <a class="link-sub" href="/Search/Index?genre=13" target="_self">爱情</a>
</div>
