<div class="container">

  <div class="panel panel-body text-center no-padding">
    <h4>总共找到 4 部电影</h4>
  </div>

  <div class="panel panel-body">
    <form action="/Search" class="form-inline" method="get" role="form">
      <input id="Search" name="Search" type="hidden" value="">
      <select class="form-control" id="genre" name="genre" style="margin-right:15px;">
        <option selected="selected" value="0">选择类型</option>
        <option value="1">剧情</option>
        <option value="2">爱情</option>
        <option value="3">奇幻</option>
        <option value="12">惊悚</option>
        <option value="13">喜剧</option>
        <option value="14">动作</option>
        <option value="15">科幻</option>
        <option value="16">冒险</option>
        <option value="17">悬疑</option>
      </select>
      <select class="form-control" id="country" name="country" style="margin-right:15px;">
        <option selected="selected" value="0">选择国家/地区</option>
        <option value="1">美国</option>
        <option value="2">澳大利亚</option>
      </select>
      <select class="form-control" id="year" name="year" style="margin-right:15px;">
        <option selected="selected" value="0">选择年代</option>
        <option value="2022">2022</option>
        <option value="2010">2010</option>
        <option value="1990">1990</option>
      </select>
      <input type="submit" value="筛选" class="btn btn-primary">
    </form>
  </div>

  <div class="panel panel-default">
    <div class="panel-body" style="padding:10px;">

      <div class="col-md-4 col-sm-6 col-xs-4 panel-float div-movie-back">
        <div class="full-height" style="padding:5px; overflow:hidden; background-color:#F2F2F2;">
          <div class="full-height no-padding" style="height:170px; width:120px; float:left;">
            <a class="full-height" href="/Movie/Index?id=80B84DADBC024442851963EAA00ED305" target="_self">
              <img src="/Content/Movie/20231022171211.jpg" title="最幸运的女孩" class="img-responsive full-height full-width">
            </a>
          </div>
          <div class="hidden-xs" style="margin-left:125px;">
            <div>
              <a href="/Movie/Index?id=80B84DADBC024442851963EAA00ED305" class="font-larger" target="_self">
                <strong title="最幸运的女孩">最幸运的女孩</strong>
              </a>
              <a href="http://movie.douban.com/subject/35410194/" class="clr-doubangreen" title="跳转到豆瓣电影" target="_self">
                6.8
              </a>
              <span class="label label-info font-small" style="padding:0px 3px;">2022</span>
            </div>
            <div>
              <strong>导演</strong>
              <span>杰西卡·克诺尔</span>
            </div>
            <div>
              <strong>类型</strong>
              <span>剧情 / 悬疑</span>
            </div>
            <div>
              <strong>编剧</strong>
              <span>杰西卡·克诺尔</span>
            </div>
            <div>
              <strong>主演</strong>
              <span> 米拉·库尼斯 </span>
              <span> 芬·维特洛克 </span>
              <span> 康妮·布里登 </span>
              <span> 詹妮弗·比尔斯 </span>
            </div>
          </div>
          <div class="hidden-xs" style="position:absolute; right:11px; bottom:11px;">
            <div class="btn-group" role="group">
              <a class="btn btn-mark-xs" title="想看" href="/Mark/Create?target=80B84DADBC024442851963EAA00ED305&amp;type=1&amp;returnurl=http://localhost:50229/Search"><span class="glyphicon glyphicon-time"></span></a>
              <a class="btn btn-mark-xs" title="已看" href="/Mark/Create?target=80B84DADBC024442851963EAA00ED305&amp;type=2&amp;returnurl=http://localhost:50229/Search"><span class="glyphicon glyphicon-ok-circle"></span></a>
              <a class="btn btn-mark-xs" title="喜欢" href="/Mark/Create?target=80B84DADBC024442851963EAA00ED305&amp;type=3&amp;returnurl=http://localhost:50229/Search"><span class="glyphicon glyphicon-heart-empty"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-4 panel-float div-movie-back">
        <div class="full-height" style="padding:5px; overflow:hidden; background-color:#F2F2F2;">
          <div class="full-height no-padding" style="height:170px; width:120px; float:left;">
            <a class="full-height" href="/Movie/Index?id=m01" target="_self">
              <img src="/Content/Movie/p480956937.jpg" title="剪刀手安德华" class="img-responsive full-height full-width">
            </a>
          </div>
          <div class="hidden-xs" style="margin-left:125px;">
            <div>
              <a href="/Movie/Index?id=m01" class="font-larger" target="_self">
                <strong title="剪刀手安德华">剪刀手安德华</strong>
              </a>
              <a href="http://movie.douban.com/subject/1292370/" class="clr-doubangreen" title="跳转到豆瓣电影" target="_self">
                8.6
              </a>
              <span class="label label-info font-small" style="padding:0px 3px;">1990</span>
            </div>
            <div>
              <strong>导演</strong>
              <span>蒂姆·波顿</span>
            </div>
            <div>
              <strong>类型</strong>
              <span>剧情 / 爱情 / 奇幻</span>
            </div>
            <div>
              <strong>编剧</strong>
              <span>蒂姆·波顿</span>
              <span>卡罗琳·汤普森</span>
            </div>
            <div>
              <strong>主演</strong>
              <span>约翰尼·德普</span>
              <span>薇诺娜·瑞德</span>
              <span>黛安·韦斯特</span>
            </div>
          </div>
          <div class="hidden-xs" style="position:absolute; right:11px; bottom:11px;">
            <div class="btn-group" role="group">
              <a class="btn btn-mark-xs" title="想看" href="/Mark/Create?target=m0001&amp;type=1&amp;returnurl=http://localhost:50229/Search"><span class="glyphicon glyphicon-time"></span></a>
              <a class="btn btn-mark-xs" title="已看" href="/Mark/Create?target=m0001&amp;type=2&amp;returnurl=http://localhost:50229/Search"><span class="glyphicon glyphicon-ok-circle"></span></a>
              <a class="btn btn-mark-xs" title="喜欢" href="/Mark/Create?target=m0001&amp;type=3&amp;returnurl=http://localhost:50229/Search"><span class="glyphicon glyphicon-heart-empty"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-4 panel-float div-movie-back">
        <div class="full-height" style="padding:5px; overflow:hidden; background-color:#F2F2F2;">
          <div class="full-height no-padding" style="height:170px; width:120px; float:left;">
            <a class="full-height" href="/Movie/Index?id=m02" target="_self">
              <img src="/Content/Movie/p719282906.jpg" title="黑天鹅" class="img-responsive full-height full-width">
            </a>
          </div>
          <div class="hidden-xs" style="margin-left:125px;">
            <div>
              <a href="/Movie/Index?id=m02" class="font-larger" target="_self">
                <strong title="黑天鹅">黑天鹅</strong>
              </a>
              <a href="http://movie.douban.com/subject/1978709/" class="clr-doubangreen" title="跳转到豆瓣电影" target="_self">
                8.9
              </a>
              <span class="label label-info font-small" style="padding:0px 3px;">2010</span>
            </div>
            <div>
              <strong>导演</strong>
              <span>达伦·阿伦诺夫斯基</span>
            </div>
            <div>
              <strong>类型</strong>
              <span>剧情 / 惊悚</span>
            </div>
            <div>
              <strong>编剧</strong>
              <span>安德雷斯·海因斯</span>
              <span>马克·海曼</span>
              <span>约翰·J·麦克劳克林</span>
            </div>
            <div>
              <strong>主演</strong>
              <span>娜塔莉·波特曼</span>
              <span>米拉·库尼斯</span>
            </div>
          </div>
          <div class="hidden-xs" style="position:absolute; right:11px; bottom:11px;">
            <div class="btn-group" role="group">
              <a class="btn btn-mark-xs" title="想看" href="/Mark/Create?target=m0002&amp;type=1&amp;returnurl=http://localhost:50229/Search"><span class="glyphicon glyphicon-time"></span></a>
              <a class="btn btn-mark-xs" title="已看" href="/Mark/Create?target=m0002&amp;type=2&amp;returnurl=http://localhost:50229/Search"><span class="glyphicon glyphicon-ok-circle"></span></a>
              <a class="btn btn-mark-xs" title="喜欢" href="/Mark/Create?target=m0002&amp;type=3&amp;returnurl=http://localhost:50229/Search"><span class="glyphicon glyphicon-heart-empty"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-4 panel-float div-movie-back">
        <div class="full-height" style="padding:5px; overflow:hidden; background-color:#F2F2F2;">
          <div class="full-height no-padding" style="height:170px; width:120px; float:left;">
            <a class="full-height" href="/Movie/Index?id=m03" target="_self">
              <img src="/Content/Movie/20231022161924.png" title="雷神4：爱与雷霆" class="img-responsive full-height full-width">
            </a>
          </div>
          <div class="hidden-xs" style="margin-left:125px;">
            <div>
              <a href="/Movie/Index?id=m03" class="font-larger" target="_self">
                <strong title="雷神4：爱与雷霆">雷神4：爱与雷霆</strong>
              </a>
              <a href="http://movie.douban.com/subject/34477861/" class="clr-doubangreen" title="跳转到豆瓣电影" target="_self">
                5.2
              </a>
              <span class="label label-info font-small" style="padding:0px 3px;">2022</span>
            </div>
            <div>
              <strong>导演</strong>
              <span>塔伊加·维迪提</span>
            </div>
            <div>
              <strong>类型</strong>
              <span>喜剧 / 动作 / 爱情 / 科幻 / 奇幻 / 冒险</span>
            </div>
            <div>
              <strong>编剧</strong>
              <span>塔伊加·维迪提</span>
              <span>詹尼弗·凯廷·罗宾逊</span>
              <span>斯坦·李</span>
              <span>杰森·亚伦</span>
            </div>
            <div>
              <strong>主演</strong>
              <span>克里斯·海姆斯沃斯</span>
              <span>娜塔莉·波特曼</span>
            </div>
          </div>
          <div class="hidden-xs" style="position:absolute; right:11px; bottom:11px;">
            <div class="btn-group" role="group">
              <a class="btn btn-mark-xs" title="想看" href="/Mark/Create?target=m0003&amp;type=1&amp;returnurl=http://localhost:50229/Search"><span class="glyphicon glyphicon-time"></span></a>
              <a class="btn btn-mark-xs" title="已看" href="/Mark/Create?target=m0003&amp;type=2&amp;returnurl=http://localhost:50229/Search"><span class="glyphicon glyphicon-ok-circle"></span></a>
              <a class="btn btn-mark-xs" title="喜欢" href="/Mark/Create?target=m0003&amp;type=3&amp;returnurl=http://localhost:50229/Search"><span class="glyphicon glyphicon-heart-empty"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
