<div class="container">

  <div class="panel panel-default" style="margin-top:167px;">
    <div style="float:left; display:inline-block; margin-top:-167px; margin-left:25px; margin-right:25px; padding:3px; background-color:white; box-shadow:0px 0px 10px #999999;">
      <img src="/Content/Celeb/20231022141507.png" class="img-responsive" title="薇诺娜·瑞德" style="width:170px; height:240px;">
    </div>
    <div>
      <div class="font-larger" style="margin-top:10px; margin-bottom:10px;">
        <strong>薇诺娜·瑞德&nbsp;&nbsp;&nbsp;&nbsp;Winona Ryder</strong>
      </div>
      <div style="margin-bottom:10px;">
        <a class="btn btn-mark" title="收藏" href="/Mark/Create?target=05&amp;type=4&amp;returnurl=http://localhost:50229/Celeb/Index?id=05"><span class="fa fa-star-o" aria-hidden="true"></span> 收藏</a>
      </div>
    </div>

    <div class="panel-footer text-center no-padding" style="background-color:transparent; padding:10px;">
      <div class="list-tab">
        <a href="#details" id="link-to-details">&nbsp;&nbsp;详情&nbsp;&nbsp;</a>
        <a href="#summary" id="link-to-summary">&nbsp;&nbsp;简介&nbsp;&nbsp;</a>
        <a href="#works" id="link-to-works">&nbsp;&nbsp;作品&nbsp;&nbsp;</a>
      </div>
    </div>
  </div>


  <div class="no-padding">

    <div class="panel panel-default" id="details">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>影人详情</strong>&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <ul style="list-style:none; padding:0px; margin:0px;">
          <li>
            <span style="color:#808080;">性别:</span>
            女
          </li>
          <li>
            <span style="color:#808080;">出生日期:</span>
            1958年08月25日
          </li>

          <li>
            <span style="color:#808080;">出生地:</span>
            美国,明尼苏达,奥姆斯特德郡
          </li>

          <li>
            <span style="color:#808080;">职业:</span>
            演员 / 配音 / 制片人 / 编剧
          </li>

          <li>
            <span style="color:#808080;">更多中文名:</span>
            云露娜·维达 / 维诺娜·赖德 / 薇诺娜·劳拉·霍洛威兹(本名)
          </li>

          <li>
            <span style="color:#808080;">更多外文名:</span>
            Winona Laura Horowitz(本名) / Noni(昵称)
          </li>

          <li>
            <span style="color:#808080;">家庭成员:</span>
            约翰尼·德普(前男友) / 马特·达蒙(前男友) / 欣蒂·霍洛威兹(母) / 麦克·霍洛威兹(父)
          </li>

          <li>
            <span style="color:#808080;">豆瓣链接:</span>
            <a href="https://movie.douban.com/celebrity/1012519/" class="link-text" target="_self">1012519</a>
          </li>

          <li>
            <span style="color:#808080;">IMDb链接:</span>
            <a href="http://www.imdb.com/name/nm0000213/" class="link-text" target="_self">nm0000213</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="panel panel-default" id="summary">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>简介</strong>&nbsp;&nbsp;————
      </div>
      <div class="panel-body" id="divbody">
        <div id="summarylong" style="display:none;">
          <p>
            薇诺娜·瑞德，美国女演员，曾在美国戏剧学院修演艺课。1985年，瑞德寄出了一个试演录像带，希望能在电影《Desert Blom》里串上一角，但是不获录用。尽管如此，一位叫戴维•塞尔哲的作家和导演对她印象深刻，并让她在《美国小子》里饰演主角的朋友。之后将姓氏改为“瑞德”，做为她在片尾工作人员名单出现的名字。1987年，薇诺娜出演了影片《少女离家时》，被洛杉矶时报评为“一个值得注意的处女作”。1988年在影片《阴间大法师》中饰演了一个穿着歌德式服装的颓丧少女，获得了绝大多数的正面评价。
          </p>
          <p>
            1989年，薇诺娜在黑色喜剧，《希德姐妹帮》中亮相。薇诺娜的经理人曾恳求她放弃演出，理由是此剧会“糟蹋了她的前途”。这部影片初次上映时在票房上遭遇挫折，但录像带在发行后却取得高销售量和出租量。尽管大家对影片中出现争议性的少年暴力事件反应冷淡，但薇诺娜的表现还是可圈可点。《华盛顿邮报》此评道“好莱坞最受曙目的天真无邪的少女……瑞德……让我们爱上她的少年凶犯角色：一个机灵,有趣， 带有一丝Bonnie Parker（美国二十世纪初声名狼藉的女罪犯）影子的女孩子。她是续《Gregory's Girl》内纯洁无辜的少女之后最可爱，最精选的年轻角色”。那年之后，她主演了《大火球》里Jerry Lee Lewis的十三岁新娘。
          </p>
          <p>
            1990年，薇诺娜在三部片子中演出，第一部是和她后来的男友，约翰尼·德普一起主演的《剪刀手爱德华》。之后，她去了意大利罗马拍弗朗西斯•科波拉的《教父III》。但她以“完全不能起床”为由辞演了此片，生病让瑞德取消了这计划。 薇诺娜的下一个角色出现在《怒海娇娃》（1990年）。薇诺娜凭片中Charlotte Flax一角，获得了金球奖最佳女配角提名。
          </p>
          <p>
            在演过多部少女片后，1991年接演吉姆·贾木许的《地球之夜》正式迈入成熟角色，而次年大导演科波拉的《惊情四百年》更将她推上票房明星的地位，自此成为好莱坞新一代的接班女星之一。
          </p>
          <p>
            长相甜美的赖德，一双水汪汪的大眼睛不知迷死多少影迷，帅哥约翰尼·德普、才子马特·达蒙都曾是她的裙下之臣。
          </p>
          <p>　　虽然被上天无限眷顾，现实中的薇诺娜却相当反叛，甚至因为盗窃而引起轩然大波，也因此严重影响了她近年在影坛的发展。这几年她重整旗鼓，以全新的心态和形象开展事业。2010年与波曼一起出演的影片《黑天鹅》，虽然在片中只是扮演配角，但薇诺娜的表现让喜爱她的影迷没有失望。</p>
          <a id="btnHidden" href="javascript: void(0);" class="link-text">(收起)</a>
        </div>
        <div id="summaryshort" style="display:block;">
          薇诺娜·瑞德，美国女演员，曾在美国戏剧学院修演艺课。1985年，瑞德寄出了一个试演录像带，希望能在电影《Desert Blom》里串上一角，但是不获录用。尽管如此，一位叫戴维•塞尔哲的作家和导演对她印象深刻，并让她在《美国小子》里饰演主角的朋友。之后将姓氏改为“瑞德”，做为她在片尾工作人员名单出现的名字。1987年，薇诺娜出演了影片《少女离家时》，被洛杉矶时报评为“一个值得注意的处女作”。1988年在影片《阴间大法师》中饰演了一个穿着歌德式服装的颓丧少女，获得了绝大多数的正面评价。
          .....
          <a id="btnDisplay" href="javascript: void(0);" class="link-text">(展开全部)</a>
        </div>
      </div>
    </div>


    <div class="panel panel-default no-border" id="works">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>作品</strong>&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <div class="list-movie">
          <a class="full-height full-width" href="/Movie/Index?id=m01" rel="drevil" data-container="body" data-toggle="popover" data-placement="top" data-shadow="true" data-content="
                <div><poptitle>剪刀手安德华</poptitle>&nbsp;&nbsp;<poprating>8.6</poprating>&nbsp;&nbsp;<span>1990</span></div>
                <div>
                <strong>导演:</strong>
                    <span>蒂姆·波顿</span>
                </div>
                <div>
                <strong>主演:</strong>
                    <span>约翰尼·德普</span>
                    <span>薇诺娜·瑞德</span>
                    <span>黛安·韦斯特</span>
                </div>
                <div><strong>类型:</strong><span>剧情 / 爱情 / 奇幻</span></div>" data-original-title="" title="">
                <img src="/Content/Movie/p480956937.jpg" title="剪刀手安德华" class="col-md-4 img-responsive full-height full-width no-padding">
                </a>
          <div class="text-center font-small">
            剪刀手安德华
            <br>
            [ 演员 ]
          </div>
        </div>
      </div>
    </div>
  </div>
</div>