<div class="container">
  <div class="panel panel-default" style="margin-top:167px;">
    <div style="float:left; display:inline-block; margin-top:-167px; margin-left:25px; margin-right:25px; padding:3px; background-color:white; box-shadow:0px 0px 10px #999999;">
      <img src="/Content/Celeb/20231022155307.png" class="img-responsive" title="安德雷斯·海因斯" style="width:170px; height:240px;">
    </div>
    <div>
      <div class="font-larger" style="margin-top:10px; margin-bottom:10px;">
        <strong>安德雷斯·海因斯&nbsp;&nbsp;&nbsp;&nbsp;Andres Heinz</strong>
      </div>
      <div style="margin-bottom:10px;">
        <a class="btn btn-mark" title="收藏" href="/Mark/Create?target=08&amp;type=4&amp;returnurl=http://localhost:50229/Celeb/Index?id=08"><span class="fa fa-star-o" aria-hidden="true"></span> 收藏</a>
      </div>
    </div>

    <div class="panel-footer text-center no-padding" style="background-color:transparent; padding:10px;">
      <div class="list-tab">
        <a href="#details" id="link-to-details">&nbsp;&nbsp;详情&nbsp;&nbsp;</a>
        <a href="#summary" id="link-to-summary">&nbsp;&nbsp;简介&nbsp;&nbsp;</a>
        <a href="#works" id="link-to-works">&nbsp;&nbsp;作品&nbsp;&nbsp;</a>
      </div>
    </div>
  </div>


  <div class="no-padding">

    <div class="panel panel-default" id="details">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>影人详情</strong>&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <ul style="list-style:none; padding:0px; margin:0px;">
          <li>
            <span style="color:#808080;">性别:</span>
            男
          </li>
          <li>
            <span style="color:#808080;">出生日期:</span>

          </li>

          <li>
            <span style="color:#808080;">出生地:</span>

          </li>

          <li>
            <span style="color:#808080;">职业:</span>
            编剧
          </li>

          <li>
            <span style="color:#808080;">更多中文名:</span>

          </li>

          <li>
            <span style="color:#808080;">更多外文名:</span>

          </li>

          <li>
            <span style="color:#808080;">家庭成员:</span>

          </li>

          <li>
            <span style="color:#808080;">豆瓣链接:</span>
            <a href="https://movie.douban.com/celebrity/1313056/" class="link-text" target="_self">1313056</a>
          </li>

          <li>
            <span style="color:#808080;">IMDb链接:</span>
            <a href="http://www.imdb.com/name/nm0374560/" class="link-text" target="_self">nm0374560</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="panel panel-default" id="summary">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>简介</strong>&nbsp;&nbsp;————
      </div>
      <div class="panel-body" id="divbody">
        <div id="summarylong" style="display:none;">
          <p></p>
          <a id="btnHidden" href="javascript: void(0);" class="link-text">(收起)</a>
        </div>
        <div id="summaryshort" style="display:block;">
          ...
          <a id="btnDisplay" href="javascript: void(0);" class="link-text">(展开全部)</a>
        </div>
      </div>
    </div>


    <div class="panel panel-default no-border" id="works">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>作品</strong>&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <div class="list-movie">
          <a class="full-height full-width" href="/Movie/Index?id=m02" rel="drevil" data-container="body" data-toggle="popover" data-placement="top" data-shadow="true" data-content="
                <div><poptitle>黑天鹅</poptitle>&nbsp;&nbsp;<poprating>8.9</poprating>&nbsp;&nbsp;<span>2010</span></div>
                <div>
                <strong>导演:</strong>
                    <span>达伦·阿伦诺夫斯基</span>
                </div>
                <div>
                <strong>主演:</strong>
                    <span>娜塔莉·波特曼</span>
                    <span>米拉·库尼斯</span>
                </div>
                <div><strong>类型:</strong><span>剧情 / 惊悚</span></div>" data-original-title="" title="">
                <img src="/Content/Movie/p719282906.jpg" title="黑天鹅" class="col-md-4 img-responsive full-height full-width no-padding">
                </a>
          <div class="text-center font-small">
            黑天鹅
            <br>
            [ 编剧 ]
          </div>
        </div>
      </div>
    </div>
  </div>
</div>