<div class="container">

  <div class="panel panel-default" style="margin-top:167px;">
    <div style="float:left; display:inline-block; margin-top:-167px; margin-left:25px; margin-right:25px; padding:3px; background-color:white; box-shadow:0px 0px 10px #999999;">
      <img src="/Content/Celeb/20231022165234.jpg" class="img-responsive" title="米拉·库尼斯" style="width:170px; height:240px;">
    </div>
    <div>
      <div class="font-larger" style="margin-top:10px; margin-bottom:10px;">
        <strong>米拉·库尼斯&nbsp;&nbsp;&nbsp;&nbsp;Mila Kunis</strong>
      </div>
      <div style="margin-bottom:10px;">
        <a class="btn btn-mark" title="收藏" href="/Mark/Create?target=16&amp;type=4&amp;returnurl=http://localhost:50229/Celeb/Index?id=16"><span class="fa fa-star-o" aria-hidden="true"></span> 收藏</a>
      </div>
    </div>

    <div class="panel-footer text-center no-padding" style="background-color:transparent; padding:10px;">
      <div class="list-tab">
        <a href="#details" id="link-to-details">&nbsp;&nbsp;详情&nbsp;&nbsp;</a>
        <a href="#summary" id="link-to-summary">&nbsp;&nbsp;简介&nbsp;&nbsp;</a>
        <a href="#works" id="link-to-works">&nbsp;&nbsp;作品&nbsp;&nbsp;</a>
      </div>
    </div>
  </div>


  <div class="no-padding">

    <div class="panel panel-default" id="details">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>影人详情</strong>&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <ul style="list-style:none; padding:0px; margin:0px;">
          <li>
            <span style="color:#808080;">性别:</span>
            男
          </li>
          <li>
            <span style="color:#808080;">出生日期:</span>
            1983年08月14日
          </li>

          <li>
            <span style="color:#808080;">出生地:</span>
            乌克兰,切尔诺夫策
          </li>

          <li>
            <span style="color:#808080;">职业:</span>
            演员 / 配音 / 化妆
          </li>

          <li>
            <span style="color:#808080;">更多中文名:</span>
            米娜·古妮丝 / 米拉·库妮丝
          </li>

          <li>
            <span style="color:#808080;">更多外文名:</span>
            Milena Markovna Kunis(本名)
          </li>

          <li>
            <span style="color:#808080;">家庭成员:</span>
            Ashton Kutcher(夫) / Wyatt Isabelle Kutcher(女)
          </li>

          <li>
            <span style="color:#808080;">豆瓣链接:</span>
            <a href="https://movie.douban.com/celebrity/1003481/" class="link-text" target="_self">1003481</a>
          </li>

          <li>
            <span style="color:#808080;">IMDb链接:</span>
            <a href="http://www.imdb.com/name/nm0005109/" class="link-text" target="_self">nm0005109</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="panel panel-default" id="summary">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>简介</strong>&nbsp;&nbsp;————
      </div>
      <div class="panel-body" id="divbody">
        <div id="summarylong" style="display:none;">
          <p>
            1983年生于前苏联的切尔诺夫策（现乌克兰)，7岁时搬到了美国洛杉矶，父母的职业分别是机械工程师和物理老师，还有一位从事生物化学研究的哥哥Mike。9岁时米娜一边上学，一边在课外去上“Beverly Hills Studio”的表演培训课程，此后通过这里的一次演出被娱乐经纪人Susan Curtis发掘。
          </p>
          <p>
            米拉参加《70年代秀》试镜当时让对方以为她很快过了生日就年满18岁，但其实只有14岁，结果成功地进入了剧组，在里面她的角色是比她大五岁的艾什顿·库彻的女友。此后米拉的演艺道路十分顺利，赢得了很多影迷的喜爱。
          </p>
          <p>
            米拉·库妮丝算得上是近两年好莱坞上位速度最快的年轻女星之一，充满异域风情的大眼睛会说话，诱人的长腿让她充满神秘气质。
          </p>
          <p>
            2009年，米拉在“全球性感女人”评比排名中名列第27位。近年来，米拉在好莱坞发展顺利，出演了30余部影视剧，代表作品有《比朋友多一点》、《艾利之书》、《黑天鹅》、《压榨》等。
          </p>
          <p>　　2010年10月26日，米拉获得第14届好莱坞电影节聚光灯奖。2010年12月23日，入选美国著名杂志《娱乐周刊》评选的2010年美国电影电视圈内的最性感30位明星，入选作品：《黑天鹅》(Black Swan) 。2011年6月24日，第37届美国土星奖揭晓，米拉荣获最佳女配角。</p>
          <a id="btnHidden" href="javascript: void(0);" class="link-text">(收起)</a>
        </div>
        <div id="summaryshort" style="display:block;">
          1983年生于前苏联的切尔诺夫策（现乌克兰)，7岁时搬到了美国洛杉矶，父母的职业分别是机械工程师和物理老师，还有一位从事生物化学研究的哥哥Mike。9岁时米娜一边上学，一边在课外去上“Beverly Hills Studio”的表演培训课程，此后通过这里的一次演出被娱乐经纪人Susan Curtis发掘。
          米拉参加《70年代秀》试镜当时让对方以为她很快过了生日就年满18岁，但其实只有14岁，结果成功地进入了剧组，在里面她的角色是比她大五岁的艾什顿·库彻的女友。此后米拉的演艺道路十.....
          <a id="btnDisplay" href="javascript: void(0);" class="link-text">(展开全部)</a>
        </div>
      </div>
    </div>


    <div class="panel panel-default no-border" id="works">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>作品</strong>&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <div class="list-movie">
          <a class="full-height full-width" href="/Movie/Index?id=m02" rel="drevil" data-container="body" data-toggle="popover" data-placement="top" data-shadow="true" data-content="
                <div><poptitle>黑天鹅</poptitle>&nbsp;&nbsp;<poprating>8.9</poprating>&nbsp;&nbsp;<span>2010</span></div>
                <div>
                <strong>导演:</strong>
                    <span>达伦·阿伦诺夫斯基</span>
                </div>
                <div>
                <strong>主演:</strong>
                    <span>娜塔莉·波特曼</span>
                    <span>米拉·库尼斯</span>
                </div>
                <div><strong>类型:</strong><span>剧情 / 惊悚</span></div>" data-original-title="" title="">
                <img src="/Content/Movie/p719282906.jpg" title="黑天鹅" class="col-md-4 img-responsive full-height full-width no-padding">
                </a>
          <div class="text-center font-small">
            黑天鹅
            <br>
            [ 演员 ]
          </div>
        </div>
      </div>
    </div>
  </div>
</div>