
<div class="panel panel-default" style="margin-top:167px;">
  <div style="float:left; display:inline-block; margin-top:-167px; margin-left:25px; margin-right:25px; padding:3px; background-color:white; box-shadow:0px 0px 10px #999999;">
    <img src="/Content/Celeb/20231022124041.png" class="img-responsive" title="娜塔莉·波特曼" style="width:170px; height:240px;">
  </div>
  <div>
    <div class="font-larger" style="margin-top:10px; margin-bottom:10px;">
      <strong>娜塔莉·波特曼&nbsp;&nbsp;&nbsp;&nbsp;Natalie Hershlag</strong>
    </div>
    <div style="margin-bottom:10px;">
      <a class="btn btn-mark" title="收藏" href="/Mark/Create?target=02&amp;type=4&amp;returnurl=http://localhost:50229/Celeb/Index?id=02"><span class="fa fa-star-o" aria-hidden="true"></span> 收藏</a>
    </div>
  </div>

  <div class="panel-footer text-center no-padding" style="background-color:transparent; padding:10px;">
    <div class="list-tab">
      <a href="#details" id="link-to-details">&nbsp;&nbsp;详情&nbsp;&nbsp;</a>
      <a href="#summary" id="link-to-summary">&nbsp;&nbsp;简介&nbsp;&nbsp;</a>
      <a href="#works" id="link-to-works">&nbsp;&nbsp;作品&nbsp;&nbsp;</a>
    </div>
  </div>
</div>


<div class="no-padding">

  <div class="panel panel-default" id="details">
    <div class="panel-heading text-center">
      ————&nbsp;&nbsp;<strong>影人详情</strong>&nbsp;&nbsp;————
    </div>
    <div class="panel-body">
      <ul style="list-style:none; padding:0px; margin:0px;">
        <li>
          <span style="color:#808080;">性别:</span>
          男
        </li>
        <li>
          <span style="color:#808080;">出生日期:</span>
          1981年06月09日
        </li>

        <li>
          <span style="color:#808080;">出生地:</span>
          以色列,耶路撒冷
        </li>

        <li>
          <span style="color:#808080;">职业:</span>
          演员 / 制片人 / 配音 / 导演 / 编剧
        </li>

        <li>
          <span style="color:#808080;">更多中文名:</span>
          娜塔莉·波特曼
        </li>

        <li>
          <span style="color:#808080;">更多外文名:</span>
          Natalie Hershlag (本名) / Nat (昵称)
        </li>

        <li>
          <span style="color:#808080;">家庭成员:</span>
          本杰明·米派德(夫) / 阿夫纳·赫许勒(父) / 雪莉·史蒂文斯(母) / 阿列夫·波特曼·米派德(儿) / 阿玛莉亚·波特曼·米派德(女)
        </li>

        <li>
          <span style="color:#808080;">豆瓣链接:</span>
          <a href="https://movie.douban.com/celebrity/1054454/" class="link-text" target="_self">1054454</a>
        </li>

        <li>
          <span style="color:#808080;">IMDb链接:</span>
          <a href="http://www.imdb.com/name/nm0000204/" class="link-text" target="_self">nm0000204</a>
        </li>
      </ul>
    </div>
  </div>


  <div class="panel panel-default" id="summary">
    <div class="panel-heading text-center">
      ————&nbsp;&nbsp;<strong>简介</strong>&nbsp;&nbsp;————
    </div>
    <div class="panel-body" id="divbody">
      <div id="summarylong" style="display:none;">
        <p>
          娜塔丽·波特曼，美国著名女演员。因出演吕克·贝松导演的《杀手里昂》一鸣惊人，自此开始了一边读书一边拍戏的生涯。
        </p>
        <p>
          娜塔莉好像总能与好莱坞大腕们同台演出。接下来1995年她在麦克尔曼的《盗火线》中做了艾尔帕西诺的继女，1996年在《火星人攻击地球》中出演杰克尼科尔森的女儿。同年她又出现在伍迪·艾伦的音乐喜剧《人人都说我爱你》里。娜塔莉在剧中的轻松表演赢得了观众的喜爱。
        </p>
        <p>
          1996年娜塔莉在电影《美丽佳人》中的演出又一次获得好评如潮。在剧中她扮演的女孩叫马蒂，那可是个颇有心计的早熟女孩，一心一意想把心上人从他的未婚妻手中夺走。评论家对娜塔莉在剧中的演技评价甚高，有一点绝不可否认：她是整部剧中最出色的亮点。
        </p>
        <p>
          1997年娜塔莉作出一个惊人的决定：她竟然推掉《洛丽塔》和《罗密欧与朱莉叶》两部巨片，心甘情愿地登上舞台出演《安妮·弗兰克的日记》。这个举动曾让众人大惑不解，但是从《安妮》一剧每次结束后长达近一个小时的谢幕中，我们就明白她演的有多么出色。娜塔莉在舞台演了整整1年，直到1998年才离开《安妮》剧组。
        </p>
        <p>
          世纪末娜塔莉出演了她最为广泛议论的角色——在风靡全球的乔治卢卡斯的《星球大战前传：幽灵的威胁》中饰演高贵而美丽的阿米达拉女王。尽管毁誉皆有，这部影片创下了全球巨额票房却是一个不争的事实。而娜塔莉的美丽形象也如同当年的赫本世人皆知。
        </p>
        <p>　　从最初站在镁光灯下到今天，昔日的女孩如今已长大，纯真依旧，但是却多了份成熟女人的自信与风情。娜塔莉正用自己的实际行动向世界证明——她是好莱坞新一代演员中最具实力，最有前途的女星之一。</p>
        <a id="btnHidden" href="javascript: void(0);" class="link-text">(收起)</a>
      </div>
      <div id="summaryshort" style="display:block;">
        娜塔丽·波特曼，美国著名女演员。因出演吕克·贝松导演的《杀手里昂》一鸣惊人，自此开始了一边读书一边拍戏的生涯。
        娜塔莉好像总能与好莱坞大腕们同台演出。接下来1995年她在麦克尔曼的《盗火线》中做了艾尔帕西诺的继女，1996年在《火星人攻击地球》中出演杰克尼科尔森的女儿。同年她又出现在伍迪·艾伦的音乐喜剧《人人都说我爱你》里。娜塔莉在剧中的轻松表演赢得了观众的喜爱。
        1996年娜塔莉在电影《美丽佳人》中的演出又一次获得好评如潮。在剧中她扮演的女孩叫马蒂，那可是个颇有心计的早熟女孩.....
        <a id="btnDisplay" href="javascript: void(0);" class="link-text">(展开全部)</a>
      </div>
    </div>
  </div>


  <div class="panel panel-default no-border" id="works">
    <div class="panel-heading text-center">
      ————&nbsp;&nbsp;<strong>作品</strong>&nbsp;&nbsp;————
    </div>
    <div class="panel-body">
      <div class="list-movie">
        <a class="full-height full-width" href="/Movie/Index?id=m03" rel="drevil" data-container="body" data-toggle="popover" data-placement="top" data-shadow="true" data-content="
                <div><poptitle>雷神4：爱与雷霆</poptitle>&nbsp;&nbsp;<poprating>5.2</poprating>&nbsp;&nbsp;<span>2022</span></div>
                <div>
                <strong>导演:</strong>
                    <span>塔伊加·维迪提</span>
                </div>
                <div>
                <strong>主演:</strong>
                    <span>克里斯·海姆斯沃斯</span>
                    <span>娜塔莉·波特曼</span>
                </div>
                <div><strong>类型:</strong><span>喜剧 / 动作 / 爱情 / 科幻 / 奇幻 / 冒险</span></div>" data-original-title="" title="">
                <img src="/Content/Movie/20231022161924.png" title="雷神4：爱与雷霆" class="col-md-4 img-responsive full-height full-width no-padding">
                </a>
        <div class="text-center font-small">
          雷神4：爱与雷霆
          <br>
          [ 演员 ]
        </div>
      </div>
      <div class="list-movie">
        <a class="full-height full-width" href="/Movie/Index?id=m02" rel="drevil" data-container="body" data-toggle="popover" data-placement="top" data-shadow="true" data-content="
                <div><poptitle>黑天鹅</poptitle>&nbsp;&nbsp;<poprating>8.9</poprating>&nbsp;&nbsp;<span>2010</span></div>
                <div>
                <strong>导演:</strong>
                    <span>达伦·阿伦诺夫斯基</span>
                </div>
                <div>
                <strong>主演:</strong>
                    <span>娜塔莉·波特曼</span>
                    <span>米拉·库尼斯</span>
                </div>
                <div><strong>类型:</strong><span>剧情 / 惊悚</span></div>" data-original-title="" title="">
                <img src="/Content/Movie/p719282906.jpg" title="黑天鹅" class="col-md-4 img-responsive full-height full-width no-padding">
                </a>
        <div class="text-center font-small">
          黑天鹅
          <br>
          [ 演员 ]
        </div>
      </div>
    </div>
  </div>
</div>