
<div class="panel panel-default" style="margin-top:167px;">
  <div style="float:left; display:inline-block; margin-top:-167px; margin-left:25px; margin-right:25px; padding:3px; background-color:white; box-shadow:0px 0px 10px #999999;">
    <img src="/Content/Celeb/20231022162650.png" class="img-responsive" title="斯坦·李" style="width:170px; height:240px;">
  </div>
  <div>
    <div class="font-larger" style="margin-top:10px; margin-bottom:10px;">
      <strong>斯坦·李&nbsp;&nbsp;&nbsp;&nbsp;Stan Lee</strong>
    </div>
    <div style="margin-bottom:10px;">
      <a class="btn btn-mark" title="收藏" href="/Mark/Create?target=13&amp;type=4&amp;returnurl=http://localhost:50229/Celeb/Index?id=13"><span class="fa fa-star-o" aria-hidden="true"></span> 收藏</a>
    </div>
  </div>

  <div class="panel-footer text-center no-padding" style="background-color:transparent; padding:10px;">
    <div class="list-tab">
      <a href="#details" id="link-to-details">&nbsp;&nbsp;详情&nbsp;&nbsp;</a>
      <a href="#summary" id="link-to-summary">&nbsp;&nbsp;简介&nbsp;&nbsp;</a>
      <a href="#works" id="link-to-works">&nbsp;&nbsp;作品&nbsp;&nbsp;</a>
    </div>
  </div>
</div>


<div class="no-padding">

  <div class="panel panel-default" id="details">
    <div class="panel-heading text-center">
      ————&nbsp;&nbsp;<strong>影人详情</strong>&nbsp;&nbsp;————
    </div>
    <div class="panel-body">
      <ul style="list-style:none; padding:0px; margin:0px;">
        <li>
          <span style="color:#808080;">性别:</span>
          男
        </li>
        <li>
          <span style="color:#808080;">生卒日期:</span>
          1922年12月28日 "至" 2018年11月12日
        </li>

        <li>
          <span style="color:#808080;">出生地:</span>
          美国,纽约
        </li>

        <li>
          <span style="color:#808080;">职业:</span>
          编剧 / 演员 / 制片人 / 配音 / 导演
        </li>

        <li>
          <span style="color:#808080;">更多中文名:</span>

        </li>

        <li>
          <span style="color:#808080;">更多外文名:</span>
          Stanley Martin Lieber (本名) / The Man (昵称)
        </li>

        <li>
          <span style="color:#808080;">家庭成员:</span>
          Joan Boocock Lee(妻)
        </li>

        <li>
          <span style="color:#808080;">豆瓣链接:</span>
          <a href="https://movie.douban.com/celebrity/1013888/" class="link-text" target="_self">1013888</a>
        </li>

        <li>
          <span style="color:#808080;">IMDb链接:</span>
          <a href="http://www.imdb.com/name/nm0498278/" class="link-text" target="_self">nm0498278</a>
        </li>
      </ul>
    </div>
  </div>


  <div class="panel panel-default" id="summary">
    <div class="panel-heading text-center">
      ————&nbsp;&nbsp;<strong>简介</strong>&nbsp;&nbsp;————
    </div>
    <div class="panel-body" id="divbody">
      <div id="summarylong" style="display:none;">
        <p>
          2008，两部美国大片——《钢铁侠》和《无敌浩克》在全世界刮起一股超级英雄狂潮，分别席卷全球票房达5.67亿美元和2.28亿美元。这两部大片的横空出世再次勾起了人们对漫画历史上那些超级英雄的记忆。蜘蛛侠、神奇四侠、X战警、夜魔侠……当然也包括钢铁侠和绿巨人，这一个个耳熟能详的名字都与一个人息息相关。他就是被尊为“漫画之王”、“蜘蛛侠之父”的斯坦·李。
        </p>
        <p>　　90岁的斯坦·李一手将惊奇漫画公司打造为全世界最为成功的动漫王国，神奇漫画总共创造了5000多个漫画角色，90%以上知名的角色都由斯坦·李参与创造。半个多世纪以来，美国年轻人都是读着斯坦·李的作品长大的，其漫画作品在全世界的销售量超过了20亿册，蜘蛛侠更是成为全世界最受欢迎的超级英雄。在美国，“神奇先生”斯坦·李已不仅仅是一个名人，而成为一个文化符号。如今，已届暮年的斯坦·李仍然“壮心不已”，前不久，他宣布将与迪士尼联手，推出三部新电影。</p>
        <a id="btnHidden" href="javascript: void(0);" class="link-text">(收起)</a>
      </div>
      <div id="summaryshort" style="display:block;">
        2008，两部美国大片——《钢铁侠》和《无敌浩克》在全世界刮起一股超级英雄狂潮，分别席卷全球票房达5.67亿美元和2.28亿美元。这两部大片的横空出世再次勾起了人们对漫画历史上那些超级英雄的记忆。蜘蛛侠、神奇四侠、X战警、夜魔侠……当然也包括钢铁侠和绿巨人，这一个个耳熟能详的名字都与一个人息息相关。他就是被尊为“漫画之王”、“蜘蛛侠之父”的斯坦·李。
        90岁的斯坦·李一手将惊奇漫画公司打造为全世界最为成功的动漫王国，神奇漫画总共创造了5000多个漫画角色，90%以上知名的角色都由.....
        <a id="btnDisplay" href="javascript: void(0);" class="link-text">(展开全部)</a>
      </div>
    </div>
  </div>


  <div class="panel panel-default no-border" id="works">
    <div class="panel-heading text-center">
      ————&nbsp;&nbsp;<strong>作品</strong>&nbsp;&nbsp;————
    </div>
    <div class="panel-body">
      <div class="list-movie">
        <a class="full-height full-width" href="/Movie/Index?id=m03" rel="drevil" data-container="body" data-toggle="popover" data-placement="top" data-shadow="true" data-content="
                <div><poptitle>雷神4：爱与雷霆</poptitle>&nbsp;&nbsp;<poprating>5.2</poprating>&nbsp;&nbsp;<span>2022</span></div>
                <div>
                <strong>导演:</strong>
                    <span>塔伊加·维迪提</span>
                </div>
                <div>
                <strong>主演:</strong>
                    <span>克里斯·海姆斯沃斯</span>
                    <span>娜塔莉·波特曼</span>
                </div>
                <div><strong>类型:</strong><span>喜剧 / 动作 / 爱情 / 科幻 / 奇幻 / 冒险</span></div>" data-original-title="" title="">
                <img src="/Content/Movie/20231022161924.png" title="雷神4：爱与雷霆" class="col-md-4 img-responsive full-height full-width no-padding">
                </a>
        <div class="text-center font-small">
          雷神4：爱与雷霆
          <br>
          [ 编剧 ]
        </div>
      </div>
    </div>
  </div>
</div>