
<div class="panel panel-default" style="margin-top:167px;">
  <div style="float:left; display:inline-block; margin-top:-167px; margin-left:25px; margin-right:25px; padding:3px; background-color:white; box-shadow:0px 0px 10px #999999;">
    <img src="/Content/Celeb/20231022163325.png" class="img-responsive" title="克里斯·海姆斯沃斯" style="width:170px; height:240px;">
  </div>
  <div>
    <div class="font-larger" style="margin-top:10px; margin-bottom:10px;">
      <strong>克里斯·海姆斯沃斯&nbsp;&nbsp;&nbsp;&nbsp;克里斯·海姆斯沃斯</strong>
    </div>
    <div style="margin-bottom:10px;">
      <a class="btn btn-mark" title="收藏" href="/Mark/Create?target=15&amp;type=4&amp;returnurl=http://localhost:50229/Celeb/Index?id=15"><span class="fa fa-star-o" aria-hidden="true"></span> 收藏</a>
    </div>
  </div>

  <div class="panel-footer text-center no-padding" style="background-color:transparent; padding:10px;">
    <div class="list-tab">
      <a href="#details" id="link-to-details">&nbsp;&nbsp;详情&nbsp;&nbsp;</a>
      <a href="#summary" id="link-to-summary">&nbsp;&nbsp;简介&nbsp;&nbsp;</a>
      <a href="#works" id="link-to-works">&nbsp;&nbsp;作品&nbsp;&nbsp;</a>
    </div>
  </div>
</div>


<div class="no-padding">

  <div class="panel panel-default" id="details">
    <div class="panel-heading text-center">
      ————&nbsp;&nbsp;<strong>影人详情</strong>&nbsp;&nbsp;————
    </div>
    <div class="panel-body">
      <ul style="list-style:none; padding:0px; margin:0px;">
        <li>
          <span style="color:#808080;">性别:</span>
          男
        </li>
        <li>
          <span style="color:#808080;">出生日期:</span>
          1983年08月11日
        </li>

        <li>
          <span style="color:#808080;">出生地:</span>
          澳大利亚,维多利亚,墨尔本
        </li>

        <li>
          <span style="color:#808080;">职业:</span>
          演员 / 制片人 / 配音
        </li>

        <li>
          <span style="color:#808080;">更多中文名:</span>
          基斯·咸士禾夫(港) / 克里斯·汉斯沃(台) / 锤哥(昵称) / 海总(昵称)
        </li>

        <li>
          <span style="color:#808080;">更多外文名:</span>

        </li>

        <li>
          <span style="color:#808080;">家庭成员:</span>
          利亚姆·海姆斯沃斯(弟) / 卢克·海姆斯沃斯(兄) / 埃尔莎·帕塔奇(妻)
        </li>

        <li>
          <span style="color:#808080;">豆瓣链接:</span>
          <a href="https://movie.douban.com/celebrity/1021959/" class="link-text" target="_self">1021959</a>
        </li>

        <li>
          <span style="color:#808080;">IMDb链接:</span>
          <a href="http://www.imdb.com/name/nm1165110/" class="link-text" target="_self">nm1165110</a>
        </li>
      </ul>
    </div>
  </div>


  <div class="panel panel-default" id="summary">
    <div class="panel-heading text-center">
      ————&nbsp;&nbsp;<strong>简介</strong>&nbsp;&nbsp;————
    </div>
    <div class="panel-body" id="divbody">
      <div id="summarylong" style="display:none;">
        <p>
          2004年，克里斯为《聚散离合》中的角色Robbie Hunter试镜但最终失败，但他意外地得到扮演同剧中Kim Hyde的机会。之后他移居悉尼，加入剧组。克里斯还参加了澳大利亚Seven电视台的明星真人秀节目《Dancing with the Stars》。他于2007年7月3日离开《聚散离合》剧组。
        </p>
        <p>
          2008年，克里斯在肖恩·宾主演的小成本惊悚片《现金！》中担当男二号，之后又在2009年的科幻大片《星际迷航》中扮演男主角柯克的父亲乔治，现在克里斯名下的新片还有米拉·乔沃维奇和蒂莫西·奥利芬特主演的惊悚片《一次完美的逃亡》，Chris还有个弟弟Liam Hemsworth， 一个哥哥Luke Hemsworth。
        </p>
        <p>  在《雷神托尔》片中，克里斯-海姆斯沃斯（Chris Hemsworth）担任男主角扮演雷神托尔，而娜塔莉-波特曼（NataliePortman）则扮演托尔在人间的爱人。</p>
        <a id="btnHidden" href="javascript: void(0);" class="link-text">(收起)</a>
      </div>
      <div id="summaryshort" style="display:block;">
        2004年，克里斯为《聚散离合》中的角色Robbie Hunter试镜但最终失败，但他意外地得到扮演同剧中Kim Hyde的机会。之后他移居悉尼，加入剧组。克里斯还参加了澳大利亚Seven电视台的明星真人秀节目《Dancing with the Stars》。他于2007年7月3日离开《聚散离合》剧组。
        2008年，克里斯在肖恩·宾主演的小成本惊悚片《现金！》中担当男二号，之后又在2009年的科幻大片《星际迷航》中扮演男主角柯克的父亲乔治，现在克里斯名下的新片还有米拉·乔沃维奇和.....
        <a id="btnDisplay" href="javascript: void(0);" class="link-text">(展开全部)</a>
      </div>
    </div>
  </div>


  <div class="panel panel-default no-border" id="works">
    <div class="panel-heading text-center">
      ————&nbsp;&nbsp;<strong>作品</strong>&nbsp;&nbsp;————
    </div>
    <div class="panel-body">
      <div class="list-movie">
        <a class="full-height full-width" href="/Movie/Index?id=m03" rel="drevil" data-container="body" data-toggle="popover" data-placement="top" data-shadow="true" data-content="
                <div><poptitle>雷神4：爱与雷霆</poptitle>&nbsp;&nbsp;<poprating>5.2</poprating>&nbsp;&nbsp;<span>2022</span></div>
                <div>
                <strong>导演:</strong>
                    <span>塔伊加·维迪提</span>
                </div>
                <div>
                <strong>主演:</strong>
                    <span>克里斯·海姆斯沃斯</span>
                    <span>娜塔莉·波特曼</span>
                </div>
                <div><strong>类型:</strong><span>喜剧 / 动作 / 爱情 / 科幻 / 奇幻 / 冒险</span></div>" data-original-title="" title="">
                <img src="/Content/Movie/20231022161924.png" title="雷神4：爱与雷霆" class="col-md-4 img-responsive full-height full-width no-padding">
                </a>
        <div class="text-center font-small">
          雷神4：爱与雷霆
          <br>
          [ 演员 ]
        </div>
      </div>
    </div>
  </div>
</div>
