<div class="panel panel-default" style="margin-top:167px;">
  <div style="float:left; display:inline-block; margin-top:-167px; margin-left:25px; margin-right:25px; padding:3px; background-color:white; box-shadow:0px 0px 10px #999999;">
    <img src="/Content/Celeb/20231022162211.png" class="img-responsive" title="塔伊加·维迪提" style="width:170px; height:240px;">
  </div>
  <div>
    <div class="font-larger" style="margin-top:10px; margin-bottom:10px;">
      <strong>塔伊加·维迪提&nbsp;&nbsp;&nbsp;&nbsp;Taika Waititi</strong>
    </div>
    <div style="margin-bottom:10px;">
      <a class="btn btn-mark" title="收藏" href="/Mark/Create?target=11&amp;type=4&amp;returnurl=http://localhost:50229/Celeb/Index?id=11"><span class="fa fa-star-o" aria-hidden="true"></span> 收藏</a>
    </div>
  </div>

  <div class="panel-footer text-center no-padding" style="background-color:transparent; padding:10px;">
    <div class="list-tab">
      <a href="#details" id="link-to-details">&nbsp;&nbsp;详情&nbsp;&nbsp;</a>
      <a href="#summary" id="link-to-summary">&nbsp;&nbsp;简介&nbsp;&nbsp;</a>
      <a href="#works" id="link-to-works">&nbsp;&nbsp;作品&nbsp;&nbsp;</a>
    </div>
  </div>
</div>


<div class="no-padding">

  <div class="panel panel-default" id="details">
    <div class="panel-heading text-center">
      ————&nbsp;&nbsp;<strong>影人详情</strong>&nbsp;&nbsp;————
    </div>
    <div class="panel-body">
      <ul style="list-style:none; padding:0px; margin:0px;">
        <li>
          <span style="color:#808080;">性别:</span>
          男
        </li>
        <li>
          <span style="color:#808080;">出生日期:</span>
          1975年08月16日
        </li>

        <li>
          <span style="color:#808080;">出生地:</span>
          新西兰
        </li>

        <li>
          <span style="color:#808080;">职业:</span>
          导演 / 演员 / 编剧 / 制片人 / 配音
        </li>

        <li>
          <span style="color:#808080;">更多中文名:</span>
          塔基·科昂 / 泰格·韦替替 / 泰卡·怀蒂蒂
        </li>

        <li>
          <span style="color:#808080;">更多外文名:</span>

        </li>

        <li>
          <span style="color:#808080;">家庭成员:</span>
          Rita Ora(妻)
        </li>

        <li>
          <span style="color:#808080;">豆瓣链接:</span>
          <a href="https://movie.douban.com/celebrity/1076354/" class="link-text" target="_self">1076354</a>
        </li>

        <li>
          <span style="color:#808080;">IMDb链接:</span>
          <a href="http://www.imdb.com/name/nm0169806/" class="link-text" target="_self">nm0169806</a>
        </li>
      </ul>
    </div>
  </div>


  <div class="panel panel-default" id="summary">
    <div class="panel-heading text-center">
      ————&nbsp;&nbsp;<strong>简介</strong>&nbsp;&nbsp;————
    </div>
    <div class="panel-body" id="divbody">
      <div id="summarylong" style="display:none;">
        <p>塔伊加·维迪提（有时也采用科恩这个姓氏）是蒂-法脑-阿-阿帕努伊部落后裔，来自东海岸的劳库库利地区。他涉足艺术界多年，是一名视觉艺术家、演员、编剧和导演。泰卡的第一部短片《两车一夜》曾入围2005学院奖。他的另一部短片《塔玛图》是关于二战中在意大利战斗的一群毛利士兵的故事，赢得了许多国际奖，并使其有资格入围奥斯卡奖。他的首部故事片《鹰对鲨》以宣传片的形式出售给米拉马克斯并于2007年在国际上发行。</p>
        <a id="btnHidden" href="javascript: void(0);" class="link-text">(收起)</a>
      </div>
      <div id="summaryshort" style="display:block;">
        塔伊加·维迪提（有时也采用科恩这个姓氏）是蒂-法脑-阿-阿帕努伊部落后裔，来自东海岸的劳库库利地区。他涉足艺术界多年，是一名视觉艺术家、演员、编剧和导演。泰卡的第一部短片《两车一夜》曾入围2005学院奖。他的另一部短片《塔玛图》是关于二战中在意大利战斗的一群毛利士兵的故事，赢得了许多国际奖，并使其有资格入围奥斯卡奖。他的首部故事片《鹰对鲨》以宣传片的形式出售给米拉马克斯并于2007年在国际上发行...
        <a id="btnDisplay" href="javascript: void(0);" class="link-text">(展开全部)</a>
      </div>
    </div>
  </div>


  <div class="panel panel-default no-border" id="works">
    <div class="panel-heading text-center">
      ————&nbsp;&nbsp;<strong>作品</strong>&nbsp;&nbsp;————
    </div>
    <div class="panel-body">
      <div class="list-movie">
        <a class="full-height full-width" href="/Movie/Index?id=m03" rel="drevil" data-container="body" data-toggle="popover" data-placement="top" data-shadow="true" data-content="
                <div><poptitle>雷神4：爱与雷霆</poptitle>&nbsp;&nbsp;<poprating>5.2</poprating>&nbsp;&nbsp;<span>2022</span></div>
                <div>
                <strong>导演:</strong>
                    <span>塔伊加·维迪提</span>
                </div>
                <div>
                <strong>主演:</strong>
                    <span>克里斯·海姆斯沃斯</span>
                    <span>娜塔莉·波特曼</span>
                </div>
                <div><strong>类型:</strong><span>喜剧 / 动作 / 爱情 / 科幻 / 奇幻 / 冒险</span></div>" data-original-title="" title="">
                <img src="/Content/Movie/20231022161924.png" title="雷神4：爱与雷霆" class="col-md-4 img-responsive full-height full-width no-padding">
                </a>
        <div class="text-center font-small">
          雷神4：爱与雷霆
          <br>
          [ 导演  编剧 ]
        </div>
      </div>
    </div>
  </div>
</div>