<div class="panel panel-default" style="margin-top:167px;">
  <div style="float:left; display:inline-block; margin-top:-167px; margin-left:25px; margin-right:25px; padding:3px; background-color:white; box-shadow:0px 0px 10px #999999;">
    <img src="/Content/Celeb/20231022132511.png" class="img-responsive" title="蒂姆·波顿" style="width:170px; height:240px;">
  </div>
  <div>
    <div class="font-larger" style="margin-top:10px; margin-bottom:10px;">
      <strong>蒂姆·波顿&nbsp;&nbsp;&nbsp;&nbsp;Timothy William Burton</strong>
    </div>
    <div style="margin-bottom:10px;">
      <a class="btn btn-mark" title="收藏" href="/Mark/Create?target=03&amp;type=4&amp;returnurl=http://localhost:50229/Celeb/Index?id=03"><span class="fa fa-star-o" aria-hidden="true"></span> 收藏</a>
    </div>
  </div>

  <div class="panel-footer text-center no-padding" style="background-color:transparent; padding:10px;">
    <div class="list-tab">
      <a href="#details" id="link-to-details">&nbsp;&nbsp;详情&nbsp;&nbsp;</a>
      <a href="#summary" id="link-to-summary">&nbsp;&nbsp;简介&nbsp;&nbsp;</a>
      <a href="#works" id="link-to-works">&nbsp;&nbsp;作品&nbsp;&nbsp;</a>
    </div>
  </div>
</div>


<div class="no-padding">

  <div class="panel panel-default" id="details">
    <div class="panel-heading text-center">
      ————&nbsp;&nbsp;<strong>影人详情</strong>&nbsp;&nbsp;————
    </div>
    <div class="panel-body">
      <ul style="list-style:none; padding:0px; margin:0px;">
        <li>
          <span style="color:#808080;">性别:</span>
          男
        </li>
        <li>
          <span style="color:#808080;">出生日期:</span>
          1958年08月25日
        </li>

        <li>
          <span style="color:#808080;">出生地:</span>
          美国,加利福尼亚州,伯班克
        </li>

        <li>
          <span style="color:#808080;">职业:</span>
          导演 / 制片人 / 编剧 / 演员 / 美术
        </li>

        <li>
          <span style="color:#808080;">更多中文名:</span>
          蒂姆·伯顿 / 提姆·波顿 / 添·布顿
        </li>

        <li>
          <span style="color:#808080;">更多外文名:</span>
          Timothy William Burton (本名)
        </li>

        <li>
          <span style="color:#808080;">家庭成员:</span>
          Helena Bonham Carter(前妻) / Lisa Marie(前妻) / Monica Bellucci(女友)
        </li>

        <li>
          <span style="color:#808080;">豆瓣链接:</span>
          <a href="https://movie.douban.com/celebrity/1019002/" class="link-text" target="_self">1019002</a>
        </li>

        <li>
          <span style="color:#808080;">IMDb链接:</span>
          <a href="http://www.imdb.com/name/nm0000318/" class="link-text" target="_self">nm0000318</a>
        </li>
      </ul>
    </div>
  </div>


  <div class="panel panel-default" id="summary">
    <div class="panel-heading text-center">
      ————&nbsp;&nbsp;<strong>简介</strong>&nbsp;&nbsp;————
    </div>
    <div class="panel-body" id="divbody">
      <div id="summarylong" style="display:none;">
        <p>　　美国电影导演，生于加利福尼亚州的伯班克。他在加州艺术学院学习时得到了迪士尼的奖学金，这是用来赞助给年轻动画人以帮助他们成就梦想的基金。由此他开始正式成为迪士尼的动画师，之后成为导演。蒂姆·伯顿热衷描绘错位，善于运用象征和隐喻的手法，常以黑色幽默，独特的视角而著称。其代表作有《蝙蝠侠》、《大鱼》、《剪刀手爱德华》等。</p>
        <a id="btnHidden" href="javascript: void(0);" class="link-text">(收起)</a>
      </div>
      <div id="summaryshort" style="display:block;">
        美国电影导演，生于加利福尼亚州的伯班克。他在加州艺术学院学习时得到了迪士尼的奖学金，这是用来赞助给年轻动画人以帮助他们成就梦想的基金。由此他开始正式成为迪士尼的动画师，之后成为导演。蒂姆·伯顿热衷描绘错位，善于运用象征和隐喻的手法，常以黑色幽默，独特的视角而著称。其代表作有《蝙蝠侠》、《大鱼》、《剪刀手爱德华》等...
        <a id="btnDisplay" href="javascript: void(0);" class="link-text">(展开全部)</a>
      </div>
    </div>
  </div>


  <div class="panel panel-default no-border" id="works">
    <div class="panel-heading text-center">
      ————&nbsp;&nbsp;<strong>作品</strong>&nbsp;&nbsp;————
    </div>
    <div class="panel-body">
      <div class="list-movie">
        <a class="full-height full-width" href="/Movie/Index?id=m01" rel="drevil" data-container="body" data-toggle="popover" data-placement="top" data-shadow="true" data-content="
                <div><poptitle>剪刀手安德华</poptitle>&nbsp;&nbsp;<poprating>8.6</poprating>&nbsp;&nbsp;<span>1990</span></div>
                <div>
                <strong>导演:</strong>
                    <span>蒂姆·波顿</span>
                </div>
                <div>
                <strong>主演:</strong>
                    <span>约翰尼·德普</span>
                    <span>薇诺娜·瑞德</span>
                    <span>黛安·韦斯特</span>
                </div>
                <div><strong>类型:</strong><span>剧情 / 爱情 / 奇幻</span></div>" data-original-title="" title="">
                <img src="/Content/Movie/p480956937.jpg" title="剪刀手安德华" class="col-md-4 img-responsive full-height full-width no-padding">
                </a>
        <div class="text-center font-small">
          剪刀手安德华
          <br>
          [ 导演  编剧 ]
        </div>
      </div>
    </div>
  </div>
</div>
