
<style>
    .li-account {
        background-color: #10761A;
    }

    .li-account:hover,
    .li-account:focus,
    .li-account:active {
        background-color: #10761A;
    }
</style>

@if (ViewBag.IsAuthenticated == 1)
{
    <ul class="nav navbar-nav">
        <li class="dropdown li-account">
            <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown">tonyzhangshi<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/Mine/Index/">我的主页</a></li>
                <li><a href="/Mine/ChangeAvatar/">个人设置</a></li>
                <li><a href="/Mine/MineMovie?type=1">我的电影</a></li>
                <li><a href="/Mine/MineAlbum?type=1">我的专辑</a></li>
                <li class="divider"></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">注销</a></li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/Account/Register?returnUrl=http%3A%2F%2Flocalhost%3A50229%2F" id="registerLink">注册</a>
        </li>
        <li>
            <a href="/Account/Login?returnUrl=http%3A%2F%2Flocalhost%3A50229%2F" id="loginLink">登录</a>
        </li>
    </ul>
}
