@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

<input id="hidIsShow" type="hidden" value="@showBanner" />
<div id="cookieConsent" style="margin: 5px 5px 5px 5px; background-color: gray;" hidden="hidden">
    <span style="font-size: larger; margin-left:10px;">Use this space to summarize your privacy and cookie use policy. </span>
    <button type="button" class="btn btn-success btn-sm" style="margin: 2px 5px 5px 5px" data-bs-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
        <span aria-hidden="true">Accept</span>
    </button>
</div>
