@{
    Layout = "_LayoutWide";
}

@section Links {
    @await RenderSectionAsync("Links", required: false)
}

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}

<div class="container">
    @RenderBody()
</div>
