<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      throwConfigExceptions="true"
      internalLogFile="${basedir}/Logs/internal-nlog-AspNetCore.txt">

	<!-- ログの出力レイアウトを変数 layoutDefine で定義 -->
	<variable name="layoutDefine"
			  value="${longdate} [${event-properties:item=EventId_Id:whenEmpty=0}][${level:padding=-5}] ${message} ${exception:format=tostring} (${callsite:includeNamespace=true:fileName=true:includeSourcePath=false})" />

	<!-- 書き込むターゲット -->
	<targets>
		<!-- Visual Studio の出力 (デバッグ) に書き込みます -->
		<target xsi:type="Trace" name="TraceOutput" rawWrite="true" layout="${layoutDefine}" />

		<!-- 基本的な詳細を含むすべてのログメッセージのファイルターゲット -->
		<target xsi:type="File" name="FileOutput" fileName="${aspnet-appbasepath}/Logs/Log-${shortdate}.log" layout="${layoutDefine}" />

		<!-- Docker / Visual Studio の起動検出を改善するためにライフタイムメッセージをホストするためのコンソールターゲット  -->
		<target xsi:type="Console" name="LifetimeConsole" layout="${level:truncate=4}\: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />
	</targets>

	<!-- ロガー名からターゲットにマップするルール -->
	<rules>
		<!-- Microsoft からのものを含むすべてのログ -->
		<logger name="*" writeTo="TraceOutput" />

		<!-- 起動の検出を高速化するために、ホスティングライフタイムメッセージをコンソールターゲットに出力します。Microsoft.Hosting.Lifetime はここより下の定義には出力しません -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="LifetimeConsole" final="true" />

		<!-- 重要でない Microsoft ログをスキップして、自分のログのみをログに記録する。システムが出す Warning 以上のログ以外はここより下の定義には出力されません -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<!-- 上記で除外したもの以外をファイルに出力 -->
		<logger name="*" writeTo="FileOutput" />
	</rules>
</nlog>