<div class="panel panel-body col-sm-8" style="margin-bottom:20px;">
  <h4>
    <a href="/Movie/Index?id=m03" class="link-text" target="_self" title="去 雷神4：爱与雷霆 的页面">雷神4：爱与雷霆</a>
    的短评&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·
  </h4>
  <h6>全部共 3 条</h6>
  <hr>
  <div class="comment-item">
    <div class="avatar">
      <a title="test02" href="/People/Index?id=B969F82C94194675AC1057C69BE1CE86&amp;returnurl=http://localhost:50229/Movie/Comment?id=m03" target="_self" class="link-avatar">
        <img src="/Content/User/Avatar/User_1.jpg" style="width: 54px;height: 54px; border-radius: 27px;">
      </a>
    </div>
    <div class="comment">
      <div>
        <span>
          <a title="test02" href="/People/Index?id=B969F82C94194675AC1057C69BE1CE86" class="link-text" target="_self">test02</a>
        </span>
        <span>
          &nbsp;&nbsp; 2023/10/23
        </span>
      </div>
      <p class="">
        搞笑雷神
      </p>
    </div>
  </div>
  <div class="comment-item">
    <div class="avatar">
      <a title="tonyzhangshi" href="/People/Index?id=0ACFC82E7D5A41FC8AB8FD4EF603C858&amp;returnurl=http://localhost:50229/Movie/Comment?id=m03" target="_self" class="link-avatar">
        <img src="/Content/User/Avatar/0ACFC82E7D5A41FC8AB8FD4EF603C858Tony.jpg" style="width: 54px;height: 54px; border-radius: 27px;">
      </a>
    </div>
    <div class="comment">
      <div>
        <span>
          <a title="tonyzhangshi" href="/People/Index?id=0ACFC82E7D5A41FC8AB8FD4EF603C858" class="link-text" target="_self">tonyzhangshi</a>
        </span>
        <span>
          &nbsp;&nbsp; 2023/10/22
        </span>
      </div>
      <p class="">
        从今日开始便皈依小笼包之神门下，一日三餐祈祷，求神保佑每次都能吃到好吃的小笼包。
      </p>
    </div>
  </div>
  <div class="comment-item">
    <div class="avatar">
      <a title="test01" href="/People/Index?id=5AF58F7CEE8A41B2B2780FCED8040B22&amp;returnurl=http://localhost:50229/Movie/Comment?id=m03" target="_self" class="link-avatar">
        <img src="/Content/User/Avatar/User_1.jpg" style="width: 54px;height: 54px; border-radius: 27px;">
      </a>
    </div>
    <div class="comment">
      <div>
        <span>
          <a title="test01" href="/People/Index?id=5AF58F7CEE8A41B2B2780FCED8040B22" class="link-text" target="_self">test01</a>
        </span>
        <span>
          &nbsp;&nbsp; 2023/10/22
        </span>
      </div>
      <p class="">
        第一部：《爸爸，再爱我一次》 第二部：《哥哥，再爱我一次》 第三部：《姐姐，再爱我一次》 第四部：《女友，再爱我一次》
      </p>
    </div>
  </div>
</div>

<div class="col-sm-4" style="padding-left:20px; margin-bottom:20px;">
  <div>
    <a href="/Movie/Index?id=m03" class="link-text" target="_self" title="去 雷神4：爱与雷霆 的页面">&gt;去 雷神4：爱与雷霆 的页面</a>
  </div>
  <div style="margin-top:20px;">
    <a href="/Movie/Index?id=m03" target="_self">
      <img src="/Content/Movie/20231022161924.png" class="img-thumbnail" title="雷神4：爱与雷霆" style="height:225px;">
    </a>
  </div>
  <div style="margin-top:5px;">
    导演:
    <a href="/Celeb/Index?id=11" class="link-text" target="_self">塔伊加·维迪提</a>
  </div>
  <div style="margin-top:5px;">
    主演:
    <a href="/Celeb/Index?id=15" class="link-text" target="_self">克里斯·海姆斯沃斯</a>
    <a href="/Celeb/Index?id=02" class="link-text" target="_self">娜塔莉·波特曼</a>
  </div>
  <div style="margin-top:5px;">
    类型: <span>喜剧 / 动作 / 爱情 / 科幻 / 奇幻 / 冒险</span>
  </div>
  <div style="margin-top:5px;">
    地区: <span>美国 / 澳大利亚</span>
  </div>
  <div style="margin-top:5px;">
    片长: <span>119分钟</span>
  </div>
  <div style="margin-top:5px;">
    上映: <span>2022-07-06(中国香港) / 2022-07-08(美国) / 2022-09-08(美国网络)</span>
  </div>
</div>
