<div class="container">

  <div class="modal fade" id="modalCmt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/Comment/Create?movie=m0003&amp;returnurl=http%3A%2F%2Flocalhost%3A50229%2FMovie%2FIndex%3Fid%3Dm0003" class="form-horizontal" method="post" role="form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              ×
            </button>
            <h4 class="modal-title" id="myModalLabel">
              添加内容
            </h4>
          </div>
          <div class="modal-body" style="padding:15px 50px;">
            <label class="control-label" for="content" style="margin-top:0px;">简短评论</label>
            <textarea name="content" id="content" class="form-control" placeholder="请输入评论内容" style="margin-top: 10px; height:99px;"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              关闭
            </button>
            <input type="submit" class="btn btn-primary" value="提交">
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="panel panel-default" style="margin-top:167px;">
    <div style="float:left; display:inline-block; margin-top:-167px; margin-left:25px; margin-right:25px; padding:3px; background-color:white; box-shadow:0px 0px 10px #999999;">
      <img src="/Content/Movie/20231022161924.png" class="img-responsive" title="雷神4：爱与雷霆" style="width:170px; height:240px;">
    </div>
    <div>
      <div class="font-larger" style="margin-top:10px; margin-bottom:10px;">
        <strong>雷神4：爱与雷霆&nbsp;&nbsp;&nbsp;&nbsp;Thor: Love and Thunder</strong><small style="display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;(2022)</small>
      </div>
      <div style="margin-bottom:10px;">
        <a class="btn btn-mark" title="想看" href="/Mark/Create?target=m0003&amp;type=1&amp;returnurl=http://localhost:50229/Movie/Index?id=m0003"><span class="fa fa-clock-o" aria-hidden="true"></span> 想看</a>
        <a class="btn btn-mark" title="看过" href="/Mark/Create?target=m0003&amp;type=2&amp;returnurl=http://localhost:50229/Movie/Index?id=m0003"><span class="fa fa-check-circle-o" aria-hidden="true"></span> 看过</a>
        <a class="btn btn-mark" title="喜欢" href="/Mark/Create?target=m0003&amp;type=3&amp;returnurl=http://localhost:50229/Movie/Index?id=m0003"><span class="fa fa-heart-o" aria-hidden="true"></span> 喜欢</a>
      </div>
    </div>

    <div class="panel-footer text-center no-padding" style="background-color:transparent; padding:10px;">
      <div class="list-tab">
        <a href="#details" id="link-to-details">&nbsp;&nbsp;详情&nbsp;&nbsp;</a>
        <a href="#summary" id="link-to-summary">&nbsp;&nbsp;简介&nbsp;&nbsp;</a>
        <a href="#resources" id="link-to-resources">&nbsp;&nbsp;资源&nbsp;&nbsp;</a>
        <a href="#comments" id="link-to-comments">&nbsp;&nbsp;评论&nbsp;&nbsp;</a>
      </div>
    </div>
  </div>

  <div class="col-sm-9 no-padding">

    <div class="panel panel-default" id="details">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>电影详情</strong>&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <ul style="list-style:none; padding:0px; margin:0px;">
          <li>
            <span style="color:#808080;">更多电影名:</span>
            雷神4 / 雷神奇侠4：爱与雷霆(港) / 雷神索尔：爱与雷霆(台)
          </li>

          <li>
            <span style="color:#808080;">导演:</span>
            <a href="/Celeb/Index?id=00000000000000000000000000000011" class="link-text" target="_self">塔伊加·维迪提</a>
          </li>

          <li>
            <span style="color:#808080;">编剧:</span>
            <a href="/Celeb/Index?id=00000000000000000000000000000011" class="link-text" target="_self">塔伊加·维迪提</a>
            <a href="/Celeb/Index?id=00000000000000000000000000000012" class="link-text" target="_self">詹尼弗·凯廷·罗宾逊</a>
            <a href="/Celeb/Index?id=00000000000000000000000000000013" class="link-text" target="_self">斯坦·李</a>
            <a href="/Celeb/Index?id=00000000000000000000000000000014" class="link-text" target="_self">杰森·亚伦</a>
          </li>

          <li>
            <span style="color:#808080;">演员:</span>
            <a href="/Celeb/Index?id=00000000000000000000000000000015" class="link-text" target="_self">克里斯·海姆斯沃斯</a>
            <a href="/Celeb/Index?id=00000000000000000000000000000002" class="link-text" target="_self">娜塔莉·波特曼</a>
          </li>

          <li>
            <span style="color:#808080;">上映日期:</span>
            2022-07-06(中国香港) / 2022-07-08(美国) / 2022-09-08(美国网络)
          </li>

          <li>
            <span style="color:#808080;">片长:</span>
            119分钟
          </li>

          <li>
            <span style="color:#808080;">类型:</span>
            喜剧 / 动作 / 爱情 / 科幻 / 奇幻 / 冒险
          </li>

          <li>
            <span style="color:#808080;">制片国家/地区:</span>
            美国 / 澳大利亚
          </li>

          <li>
            <span style="color:#808080;">语言:</span>
            英语
          </li>

          <li>
            <span style="color:#808080;">评分:</span>
            5.2
          </li>

          <li>
            <span style="color:#808080;">豆瓣链接:</span>
            <a href="https://movie.douban.com/subject/34477861/" class="link-text" target="_self">34477861</a>
          </li>

          <li>
            <span style="color:#808080;">IMDb链接:</span>
            <a href="http://www.imdb.com/title/tt10648342/" class="link-text" target="_self">tt10648342</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="panel panel-default" id="summary">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>剧情介绍</strong>&nbsp;&nbsp;————
      </div>
      <div class="panel-body" id="divbody">
        <div id="summarylong" style="display:none;">
          <p>
            曾经的信仰崩塌，内心笃定的爱慕与崇拜转而化作足以吞噬一切的无边黑暗。虔诚的格尔（克里斯蒂安·贝尔 Christian Bale 饰）化身屠神者，将杀戮之手伸向了宇宙中每一个至高无上的神祇。雷神索尔（克里斯·海姆斯沃斯 Chris Hemsworth 饰）的平静生活终于被格尔所扰动，他和女武神（泰莎·汤普森 Tessa Thompson 饰）联手与新的对手展开对抗。而在此过程中，索尔重逢八年未见的前女友简·福斯特（娜塔莉·波特曼 Natalie Portman 饰）。此时的她身患绝症，不久于人世，却借助雷神之锤的力量恢复健康，甚至还成为了实力强悍的女雷神。
          </p>
          <p>　　获得与失去，爱慕与憎恶，信仰与虚无，矛盾的情愫在宇宙的角落中萌生……</p>
          <a id="btnHidden" href="javascript: void(0);" class="link-text">(收起)</a>
        </div>
        <div id="summaryshort" style="display:block;">
          曾经的信仰崩塌，内心笃定的爱慕与崇拜转而化作足以吞噬一切的无边黑暗。虔诚的格尔（克里斯蒂安·贝尔 Christian Bale 饰）化身屠神者，将杀戮之手伸向了宇宙中每一个至高无上的神祇。雷神索尔（克里斯·海姆斯沃斯 Chris Hemsworth 饰）的平静生活终于被格尔所扰动，他和女武神（泰莎·汤普森 Tessa Thompson 饰）联手与新的对手展开对抗。而在此过程中，索尔重逢八年未见的前女友简·福斯特（娜塔莉·波特曼 Natalie Portman 饰）。此时的她身患绝症，不.....
          <a id="btnDisplay" href="javascript: void(0);" class="link-text">(展开全部)</a>
        </div>
      </div>
    </div>


    <div class="panel panel-default" id="resources">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>所有资源</strong>&nbsp;&nbsp;————
        <div class="pull-right" style="margin-top:-7px;">
          <a class="btn btn-default btn-mark tipup" href="/Ask/Create?id=m0003" title="" data-toggle="tooltip" data-placement="top" data-original-title="为 雷神4：爱与雷霆 求资源"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
          <a class="btn btn-default btn-mark tipup" href="/Resource/Create?id=m0003" title="" data-toggle="tooltip" data-placement="top" data-original-title="为 雷神4：爱与雷霆 添加资源"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="panel-body">
        <div class="text-center">
          这部电影还没有资源呢(＃￣▽￣＃),
          <a class="link-text" href="/Resource/Create?id=m0003" title="为 雷神4：爱与雷霆 添加资源">上传资源</a>
        </div>
      </div>
    </div>


    <div class="panel panel-default" id="comments">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>雷神4：爱与雷霆 的短评</strong>(<a class="link-text" href="/Movie/Comment?id=m0003" target="_self">全部 3 条</a>)&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <div class="comment-item">
          <div class="avatar">
            <a class="link-avatar" title="test02" href="/People/Index?id=B969F82C94194675AC1057C69BE1CE86&amp;returnurl=http://localhost:50229/Movie/Index?id=m0003" target="_self">
              <img src="/Content/User/Avatar/User_1.jpg" style="width: 54px;height: 54px; border-radius: 27px;">
            </a>
          </div>
          <div class="comment">
            <div>
              <span>
                <a title="test02" href="/People/Index?id=B969F82C94194675AC1057C69BE1CE86" class="link-text" target="_self">test02</a>
              </span>
              <span>
                &nbsp;&nbsp; 2023/10/23
              </span>
            </div>
            <p class="">
              搞笑雷神
            </p>
          </div>
        </div>
        <div class="comment-item">
          <div class="avatar">
            <a class="link-avatar" title="tonyzhangshi" href="/People/Index?id=0ACFC82E7D5A41FC8AB8FD4EF603C858&amp;returnurl=http://localhost:50229/Movie/Index?id=m0003" target="_self">
              <img src="/Content/User/Avatar/0ACFC82E7D5A41FC8AB8FD4EF603C858Tony.jpg" style="width: 54px;height: 54px; border-radius: 27px;">
            </a>
          </div>
          <div class="comment">
            <div>
              <span>
                <a title="tonyzhangshi" href="/People/Index?id=0ACFC82E7D5A41FC8AB8FD4EF603C858" class="link-text" target="_self">tonyzhangshi</a>
              </span>
              <span>
                &nbsp;&nbsp; 2023/10/22
              </span>
            </div>
            <p class="">
              从今日开始便皈依小笼包之神门下，一日三餐祈祷，求神保佑每次都能吃到好吃的小笼包。
            </p>
          </div>
        </div>
        <div class="comment-item">
          <div class="avatar">
            <a class="link-avatar" title="test01" href="/People/Index?id=5AF58F7CEE8A41B2B2780FCED8040B22&amp;returnurl=http://localhost:50229/Movie/Index?id=m0003" target="_self">
              <img src="/Content/User/Avatar/User_1.jpg" style="width: 54px;height: 54px; border-radius: 27px;">
            </a>
          </div>
          <div class="comment">
            <div>
              <span>
                <a title="test01" href="/People/Index?id=5AF58F7CEE8A41B2B2780FCED8040B22" class="link-text" target="_self">test01</a>
              </span>
              <span>
                &nbsp;&nbsp; 2023/10/22
              </span>
            </div>
            <p class="">
              第一部：《爸爸，再爱我一次》 第二部：《哥哥，再爱我一次》 第三部：《姐姐，再爱我一次》 第四部：《女友，再爱我一次》
            </p>
          </div>
        </div>
        <div>
          <a class="link-text" href="/Movie/Comment?id=m0003" target="_self">查看全部</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3 div-right">

    <div class="panel panel-body">
      <div class="col-xs-4 text-center" style="border-right:1px solid #CCCCCC;">
        <div>0</div>
        <div>想看</div>
      </div>
      <div class="col-xs-4 text-center" style="border-right:1px solid #CCCCCC;">
        <div>0</div>
        <div>已看</div>
      </div>
      <div class="col-xs-4 text-center">
        <div>0</div>
        <div>喜欢</div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>我的短评</strong>&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <p class="text-muted">Tips: 标记为已看后，可以写一句话影评。</p>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>相关专辑</strong>&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <ul class="list-link">
          <li>
            <a class="link-list-item" href="/Album/Detail?id=E082158E27E3412EAAEA55DF34F55E81" title="爱看的" target="_self">爱看的</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>