
#div-back {
  height: 230px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #E6E6E6;
}

#div-card {
  padding: 8px;
  overflow: hidden;
  margin: 0px;
}

#div-image {
  width: 115px;
  height: 160px;
  float: left;
}

#div-info {
  height: 160px;
  margin-left: 125px;
}
