<div class="container">
  <div class="col-sm-8 bg-white" style="padding:10px;">
    <div class="div-ask" style="position:relative;">
      <div class="full-height pull-left">
        <a class="full-height" href="/Movie/Index?id=m0001" target="_self">
          <img src="/Content/Movie/p480956937.jpg" title="剪刀手安德华" class="img-responsive full-height">
        </a>
      </div>
      <div style="position:absolute; left:95px; top:5px;">
        <div>
          <a href="/Movie/Index?id=m0001" class="font-larger" target="_self">
            <strong title="剪刀手安德华">剪刀手安德华</strong>
          </a>
          <span class="label label-info font-small" style="margin-left:10px; padding:0px 3px;">1990</span>
          <label class="label label-success" style="margin-left:10px;">已求到</label>
        </div>
        <div style="color:#AAAAAA;">
          <span class="fa fa-user"></span>
          <span>
            <a href="/People/Index?id=0ACFC82E7D5A41FC8AB8FD4EF603C858&amp;returnurl=http://localhost:50229/Ask" class="link-text" target="_self" title="tonyzhangshi 的主页">tonyzhangshi</a>
          </span>
        </div>
        <div style="color:#AAAAAA;">
          <span class="fa fa-clock-o"></span>
          <span>2023/10/22</span>
        </div>
        <div>
          <span class="fa fa-sticky-note-o"></span>
          <span>想看，但是找到不资源</span>
        </div>
      </div>

      <div style="position:absolute; right:15px; top:5px;">
        <label class="label label-danger" style="margin-right:10px;">5 同求</label>
        <a class="btn btn-default btn-mark-xs tipup" href="/Mark/Create?target=090479A8B5F546439B92687803B8BF11&amp;type=6&amp;returnUrl=http://localhost:50229/Ask" title="" data-toggle="tooltip" data-placement="top" data-original-title="同求"><i class="fa fa-send-o" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="div-ask" style="position:relative;">
      <div class="full-height pull-left">
        <a class="full-height" href="/Movie/Index?id=m02" target="_self">
          <img src="/Content/Movie/p719282906.jpg" title="黑天鹅" class="img-responsive full-height">
        </a>
      </div>
      <div style="position:absolute; left:95px; top:5px;">
        <div>
          <a href="/Movie/Index?id=m02" class="font-larger" target="_self">
            <strong title="黑天鹅">黑天鹅</strong>
          </a>
          <span class="label label-info font-small" style="margin-left:10px; padding:0px 3px;">2010</span>
          <label class="label label-default" style="margin-left:10px;">未求到</label>
        </div>
        <div style="color:#AAAAAA;">
          <span class="fa fa-user"></span>
          <span>
            <a href="/People/Index?id=0ACFC82E7D5A41FC8AB8FD4EF603C858&amp;returnurl=http://localhost:50229/Ask" class="link-text" target="_self" title="tonyzhangshi 的主页">tonyzhangshi</a>
          </span>
        </div>
        <div style="color:#AAAAAA;">
          <span class="fa fa-clock-o"></span>
          <span>2023/10/22</span>
        </div>
        <div>
          <span class="fa fa-sticky-note-o"></span>
          <span>找不到资源，请提供下载</span>
        </div>
      </div>

      <div style="position:absolute; right:15px; top:5px;">
        <label class="label label-danger" style="margin-right:10px;">0 同求</label>
        <a class="btn btn-default btn-mark-xs tipup" href="/Mark/Create?target=6E9675FE12D840F2A4AEE511D807D703&amp;type=6&amp;returnUrl=http://localhost:50229/Ask" title="" data-toggle="tooltip" data-placement="top" data-original-title="同求"><i class="fa fa-send-o" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="div-ask" style="position:relative;">
      <div class="full-height pull-left">
        <a class="full-height" href="/Movie/Index?id=m01" target="_self">
          <img src="/Content/Movie/p480956937.jpg" title="剪刀手安德华" class="img-responsive full-height">
        </a>
      </div>
      <div style="position:absolute; left:95px; top:5px;">
        <div>
          <a href="/Movie/Index?id=m01" class="font-larger" target="_self">
            <strong title="剪刀手安德华">剪刀手安德华</strong>
          </a>
          <span class="label label-info font-small" style="margin-left:10px; padding:0px 3px;">1990</span>
          <label class="label label-default" style="margin-left:10px;">未求到</label>
        </div>
        <div style="color:#AAAAAA;">
          <span class="fa fa-user"></span>
          <span>
            <a href="/People/Index?id=5AF58F7CEE8A41B2B2780FCED8040B22&amp;returnurl=http://localhost:50229/Ask" class="link-text" target="_self" title="test01 的主页">test01</a>
          </span>
        </div>
        <div style="color:#AAAAAA;">
          <span class="fa fa-clock-o"></span>
          <span>2023/10/22</span>
        </div>
        <div>
          <span class="fa fa-sticky-note-o"></span>
          <span>想看</span>
        </div>
      </div>

      <div style="position:absolute; right:15px; top:5px;">
        <label class="label label-danger" style="margin-right:10px;">0 同求</label>
        <a class="btn btn-default btn-mark-xs tipup" href="/Mark/Create?target=D3457E25E93241E4985674E1788E710D&amp;type=6&amp;returnUrl=http://localhost:50229/Ask" title="" data-toggle="tooltip" data-placement="top" data-original-title="同求"><i class="fa fa-send-o" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="col-sm-4 div-right">
    <p class="text-capitalize">凡是发到本栏目的资源需求，我们都会尽量去寻找，希望大家都能找到自己喜欢的电影。</p>
    <p class="text-capitalize">要为电影求资源，请转到该电影详细信息页面找到'<i class="fa fa-commenting-o"></i>'按钮并点击</p>
    <hr>

    <b class="font-larger">被求最多</b>
    <ul class="list-link" style="margin-top:10px;">
      <li>
        <a href="/Movie/Index?id=m01" class="link-list-item" target="_self">剪刀手安德华 Edward Scissorhands （1990）</a> <span class="badge">5</span>
      </li>
      <li>
        <a href="/Movie/Index?id=m02" class="link-list-item" target="_self">黑天鹅 Black Swan （2010）</a> <span class="badge">0</span>
      </li>
    </ul>
    <hr>

    <b class="font-larger">已求到</b>
    <ul class="list-link" style="margin-top:10px;">
      <li>
        <a href="/Movie/Index?id=m01" class="link-list-item" target="_self">剪刀手安德华 Edward Scissorhands （1990）</a> <span class="badge">5</span>
      </li>
    </ul>
  </div>
</div>