<div class="container">
  <div id="divPanel" style="background-image: url('/Content/User/Cover/Cover_1.jpg');">
    <div id="divMask">
      <div id="divLink">
        <a href="/People/Index?id=B969F82C94194675AC1057C69BE1CE86" id="aLink">
          <img class="img-responsive tipup" src="/Content/User/Avatar/User_1.jpg" data-toggle="tooltip" data-placement="right" title="" id="imgAvatar" data-original-title="test02 的主页">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-sm-9 no-padding">

    <div class="panel panel-default">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>共同喜好</strong> (0 部)&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <div id="commonmovie">
          <ul id="commonlist">
          </ul>
        </div>
      </div>
    </div>


    <div class="panel panel-default" style="min-height:320px;">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>专辑</strong> (1 部)&nbsp;&nbsp;————
      </div>
      <div class="panel-body" style="padding:10px;">
        <div class="col-lg-4 col-md-3 col-sm-4" style="padding:10px;">
          <div class="album panel-float">

            <div class="album-avatar">
              <a href="/Album/Detail?id=E082158E27E3412EAAEA55DF34F55E81" title="爱看的" target="_self"><img src="/Content/Album/Album_1.jpg"></a>
            </div>

            <div class="album-info">
              <a class="link-no-line text-overflow" href="/Album/Detail?id=E082158E27E3412EAAEA55DF34F55E81" target="_self" title="爱看的">爱看的</a>
              <small>我最喜欢看的那类电影</small>
            </div>

            <div class="album-bottom">
              <i class="fa fa-eye"></i><span> &nbsp;15</span>
              <i class="fa fa-heart"></i><span> &nbsp;0</span>
              <div class="album-user">
                <a href="/People/Index?id=B969F82C94194675AC1057C69BE1CE86" data-toggle="tooltip" data-placement="top" title="test02" target="_self">
                  <i class="fa fa-user"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="panel panel-default" style="min-height:320px;">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>最近动态</strong>&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <ul class="list-link">
          <li>
            <div style="font-weight:bold;">
              对电影&nbsp;&nbsp;<a class="link-text" href="/Movie/Index?id=m03" target="_self">雷神4：爱与雷霆</a>&nbsp;&nbsp;的评论
              <span class="font-small" style="margin-left:10px; color:#555555;">2023-10-23 12:00:00</span>
            </div>
            <p style="text-wrap:normal; word-wrap:break-word;">
              搞笑雷神
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-3 div-right">


    <div class="panel panel-default">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>想看</strong> (0 部)&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <div class="text-center">
          没有想看的电影(＃￣▽￣＃)
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>看过</strong> (1 部)&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <ul class="list-link">
          <li>
            <a class="link-list-item" href="/Movie/Index?id=m03" target="_self">雷神4：爱与雷霆</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>喜欢</strong> (0 部)&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <div class="text-center">
          没有喜欢的电影(＃￣▽￣＃)
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>影人</strong> (0 位)&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <div class="text-center">
          没有收藏过影人(＃￣▽￣＃)
        </div>
      </div>
    </div>

  </div>
</div>