<div class="container">
  <div id="divPanel" style="background-image: url('/Content/User/Cover/Cover_1.jpg');">
    <div id="divMask">
      <div id="divLink">
        <a href="/People/Index?id=5AF58F7CEE8A41B2B2780FCED8040B22" id="aLink">
          <img class="img-responsive tipup" src="/Content/User/Avatar/User_1.jpg" data-toggle="tooltip" data-placement="right" title="" id="imgAvatar" data-original-title="test01 的主页">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-sm-9 no-padding">

    <div class="panel panel-default">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>共同喜好</strong> (0 部)&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <div class="text-center">
          天啦，你们没有共同喜好(＃￣▽￣＃)
        </div>
      </div>
    </div>


    <div class="panel panel-default" style="min-height:320px;">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>专辑</strong> (0 部)&nbsp;&nbsp;————
      </div>
      <div class="panel-body" style="padding:10px;">
        <div class="text-center">
          没有创建过专辑(＃￣▽￣＃)，<a class="link-text" href="/Album/Create" target="_self">创建一个</a>
        </div>
      </div>
    </div>


    <div class="panel panel-default" style="min-height:320px;">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>最近动态</strong>&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <div class="text-center">
          没有动态(＃￣▽￣＃)
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3 div-right">


    <div class="panel panel-default">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>想看</strong> (1 部)&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <ul class="list-link">
          <li>
            <a class="link-list-item" href="/Movie/Index?id=m0001" target="_self">剪刀手安德华</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>看过</strong> (1 部)&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <ul class="list-link">
          <li>
            <a class="link-list-item" href="/Movie/Index?id=m0003" target="_self">雷神4：爱与雷霆</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>喜欢</strong> (1 部)&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <ul class="list-link">
          <li>
            <a class="link-list-item" href="/Movie/Index?id=m0001" target="_self">剪刀手安德华</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>影人</strong> (0 位)&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <div class="text-center">
          没有收藏过影人(＃￣▽￣＃)
        </div>
      </div>
    </div>

  </div>
</div>