
<div class="container">
  <div id="divPanel" style="background-image: url('/Content/User/Cover/DFE29B360E054A2AAC274E9F918711D11380080985903.jpg');">
    <div id="divMask">
      <div id="divLink">
        <a href="/People/Index?id=0ACFC82E7D5A41FC8AB8FD4EF603C858" id="aLink">
          <img class="img-responsive tipup" src="/Content/User/Avatar/0ACFC82E7D5A41FC8AB8FD4EF603C858Tony.jpg" data-toggle="tooltip" data-placement="right" title="" id="imgAvatar" data-original-title="tonyzhangshi 的主页">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-sm-9 no-padding">

    <div class="panel panel-default">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>共同喜好</strong> (0 部)&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <div id="commonmovie">
          <ul id="commonlist">
          </ul>
        </div>
      </div>
    </div>


    <div class="panel panel-default" style="min-height:320px;">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>专辑</strong> (2 部)&nbsp;&nbsp;————
      </div>
      <div class="panel-body" style="padding:10px;">
        <div class="col-lg-4 col-md-3 col-sm-4" style="padding:10px;">
          <div class="album panel-float">

            <div class="album-avatar">
              <a href="/Album/Detail?id=451A6E2985174E548A5BE16252BB4810" title="过目就忘的电影" target="_self"><img src="/Content/Album/bc32641503490e83de10ef46cea98771.jpg"></a>
            </div>

            <div class="album-info">
              <a class="link-no-line text-overflow" href="/Album/Detail?id=451A6E2985174E548A5BE16252BB4810" target="_self" title="过目就忘的电影">过目就忘的电影</a>
              <small>商业片</small>
            </div>

            <div class="album-bottom">
              <i class="fa fa-eye"></i><span> &nbsp;3</span>
              <i class="fa fa-heart"></i><span> &nbsp;0</span>
              <div class="album-user">
                <a href="/People/Index?id=0ACFC82E7D5A41FC8AB8FD4EF603C858" data-toggle="tooltip" data-placement="top" title="tonyzhangshi" target="_self">
                  <i class="fa fa-user"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-4" style="padding:10px;">
          <div class="album panel-float">

            <div class="album-avatar">
              <a href="/Album/Detail?id=907B1C9EE9224D27AE0324952F40AA77" title="揭露历史" target="_self"><img src="/Content/Album/cf65ac138d14bd173acdf159a7cd811b.jpg"></a>
            </div>

            <div class="album-info">
              <a class="link-no-line text-overflow" href="/Album/Detail?id=907B1C9EE9224D27AE0324952F40AA77" target="_self" title="揭露历史">揭露历史</a>
              <small>战争与和平</small>
            </div>

            <div class="album-bottom">
              <i class="fa fa-eye"></i><span> &nbsp;2</span>
              <i class="fa fa-heart"></i><span> &nbsp;0</span>
              <div class="album-user">
                <a href="/People/Index?id=0ACFC82E7D5A41FC8AB8FD4EF603C858" data-toggle="tooltip" data-placement="top" title="tonyzhangshi" target="_self">
                  <i class="fa fa-user"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="panel panel-default" style="min-height:320px;">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>最近动态</strong>&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <ul class="list-link">
          <li>
            <div style="font-weight:bold;">
              对电影&nbsp;&nbsp;<a class="link-text" href="/Movie/Index?id=m03" target="_self">雷神4：爱与雷霆</a>&nbsp;&nbsp;的评论
              <span class="font-small" style="margin-left:10px; color:#555555;">2023-10-22 01:00:00</span>
            </div>
            <p style="text-wrap:normal; word-wrap:break-word;">
              从今日开始便皈依小笼包之神门下，一日三餐祈祷，求神保佑每次都能吃到好吃的小笼包。
            </p>
          </li>
          <li>
            <div style="font-weight:bold;">
              对电影&nbsp;&nbsp;<a class="link-text" href="/Movie/Index?id=m02" target="_self">黑天鹅</a>&nbsp;&nbsp;的评论
              <span class="font-small" style="margin-left:10px; color:#555555;">2023-10-10 12:00:00</span>
            </div>
            <p style="text-wrap:normal; word-wrap:break-word;">
              “我感受到了，感到了……完美。”一段用走火入魔来成就的完美，亦真亦假、亦实亦幻。影片从始至终都弥漫着黑暗的色调，很惊悚，很压抑，无论配乐还是摄影都极其吸引观众。娜塔莉·波特曼颠覆以往，奉献了一场精彩的演出。★★★★★
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-3 div-right">


    <div class="panel panel-default">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>想看</strong> (1 部)&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <ul class="list-link">
          <li>
            <a class="link-list-item" href="/Movie/Index?id=m01" target="_self">剪刀手安德华</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>看过</strong> (2 部)&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <ul class="list-link">
          <li>
            <a class="link-list-item" href="/Movie/Index?id=m03" target="_self">雷神4：爱与雷霆</a>
          </li>
          <li>
            <a class="link-list-item" href="/Movie/Index?id=m02" target="_self">黑天鹅</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>喜欢</strong> (1 部)&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <ul class="list-link">
          <li>
            <a class="link-list-item" href="/Movie/Index?id=m02" target="_self">黑天鹅</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading text-center">
        ————&nbsp;&nbsp;<strong>影人</strong> (3 位)&nbsp;&nbsp;————
      </div>
      <div class="panel-body">
        <ul class="list-link">
          <li>
            <a class="link-list-item" href="/Celeb/Index?id=01" target="_self">约翰尼·德普</a>
          </li>
          <li>
            <a class="link-list-item" href="/Celeb/Index?id=02" target="_self">娜塔莉·波特曼</a>
          </li>
          <li>
            <a class="link-list-item" href="/Celeb/Index?id=15" target="_self">克里斯·海姆斯沃斯</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>