<div class="container">
  <div class="panel panel-body text-center no-padding">
    <h4>专辑</h4>
  </div>

  <div class="panel panel-body" style="padding:10px;">
    <div class="col-sm-3" style="padding:10px;">
      <div class="album panel-float">

        <div class="album-avatar">
          <a href="/Album/Detail?id=E082158E27E3412EAAEA55DF34F55E81" title="爱看的" target="_self"><img src="/Content/Album/Album_1.jpg"></a>
        </div>

        <div class="album-info">
          <a class="link-no-line text-overflow" href="/Album/Detail?id=E082158E27E3412EAAEA55DF34F55E81" target="_self" title="爱看的">爱看的</a>
          <small>我最喜欢看的那类电影</small>
        </div>

        <div class="album-bottom">
          <i class="fa fa-eye"></i><span> &nbsp;15</span>
          <i class="fa fa-heart"></i><span> &nbsp;0</span>
          <div class="album-user">
            <a href="/People/Index?id=B969F82C94194675AC1057C69BE1CE86" data-toggle="tooltip" data-placement="top" title="test02" target="_self">
              <i class="fa fa-user"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>