<div class="panel panel-body text-center no-padding">
  <h4>专辑</h4>
</div>

<div class="panel panel-body" style="padding:10px;">
  <div class="col-sm-3" style="padding:10px;">
    <div class="album panel-float">

      <div class="album-avatar">
        <a href="/Album/Detail?id=E082158E27E3412EAAEA55DF34F55E81" title="爱看的" target="_self"><img src="/Content/Album/Album_1.jpg"></a>
      </div>

      <div class="album-info">
        <a class="link-no-line text-overflow" href="/Album/Detail?id=E082158E27E3412EAAEA55DF34F55E81" target="_self" title="爱看的">爱看的</a>
        <small>我最喜欢看的那类电影</small>
      </div>

      <div class="album-bottom">
        <i class="fa fa-eye"></i><span> &nbsp;18</span>
        <i class="fa fa-heart"></i><span> &nbsp;0</span>
        <div class="album-user">
          <a href="/People/Index?id=B969F82C94194675AC1057C69BE1CE86" data-toggle="tooltip" data-placement="top" title="test02" target="_self">
            <i class="fa fa-user"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3" style="padding:10px;">
    <div class="album panel-float">

      <div class="album-avatar">
        <a href="/Album/Detail?id=451A6E2985174E548A5BE16252BB4810" title="过目就忘的电影" target="_self"><img src="/Content/Album/bc32641503490e83de10ef46cea98771.jpg"></a>
      </div>

      <div class="album-info">
        <a class="link-no-line text-overflow" href="/Album/Detail?id=451A6E2985174E548A5BE16252BB4810" target="_self" title="过目就忘的电影">过目就忘的电影</a>
        <small>商业片</small>
      </div>

      <div class="album-bottom">
        <i class="fa fa-eye"></i><span> &nbsp;7</span>
        <i class="fa fa-heart"></i><span> &nbsp;0</span>
        <div class="album-user">
          <a href="/People/Index?id=0ACFC82E7D5A41FC8AB8FD4EF603C858" data-toggle="tooltip" data-placement="top" title="tonyzhangshi" target="_self">
            <i class="fa fa-user"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3" style="padding:10px;">
    <div class="album panel-float">

      <div class="album-avatar">
        <a href="/Album/Detail?id=907B1C9EE9224D27AE0324952F40AA77" title="揭露历史" target="_self"><img src="/Content/Album/cf65ac138d14bd173acdf159a7cd811b.jpg"></a>
      </div>

      <div class="album-info">
        <a class="link-no-line text-overflow" href="/Album/Detail?id=907B1C9EE9224D27AE0324952F40AA77" target="_self" title="揭露历史">揭露历史</a>
        <small>战争与和平</small>
      </div>

      <div class="album-bottom">
        <i class="fa fa-eye"></i><span> &nbsp;2</span>
        <i class="fa fa-heart"></i><span> &nbsp;0</span>
        <div class="album-user">
          <a href="/People/Index?id=0ACFC82E7D5A41FC8AB8FD4EF603C858" data-toggle="tooltip" data-placement="top" title="tonyzhangshi" target="_self">
            <i class="fa fa-user"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
