@using FilmHouse.Core.Services.Configuration;

@inject ISettingProvider settingProvider

@{
    var subTitle = settingProvider.GetValue("WebSiteSettings:Name");
    var name = settingProvider.GetValue("WebSiteSettings:Name");
}
<h1>@name</h1>
<h1>@subTitle</h1>

<p>
    Data subject rights:<br />
    You have the right to access, correct, delete or restrict our processing of your personal data.<br />
    You have the right to object to the processing of your personal data by us.<br />
    You have the right to request the transfer or transfer of your personal data to you or other organizations.<br />
    <br />
    Purpose of data processing:<br />
    We will process your personal data in order to complete the service or transaction you have requested.<br />
    We may use your personal data to improve our products and services.<br />
    We may use your personal data to send you marketing messages or to provide personalized recommendations.<br />
    <br />
    Data storage and protection:<br />
    We will take appropriate technical and organizational measures to protect your personal data from unauthorized access, disclosure or misuse.<br />
    We will only retain your personal data for as long as necessary, unless required by law or for other legitimate business purposes.<br />
    <br />
    Consent and withdrawal:<br />
    By using this website/application, you consent to our processing of your personal data in accordance with this Privacy Policy.<br />
    You can withdraw your consent at any time, and we will stop processing and delete the personal data collected after the withdrawal of consent.<br />
    <br />
    Third party sharing:<br />
    We may share your personal data with highly selected partners in order to provide better services.<br />
    We will only share your personal data with third parties when this is necessary or with your express consent.<br />
</p>
