<div class="panel panel-body center-horizon panel-login" style="margin-top:20px; padding:30px 50px 20px 50px;">

  <div class="text-center" style="margin:0px -50px;">
    <text style="font-size:36px; color:#121212; font-weight:bold;">DEMO</text>
  </div>
  <div class="text-center" style="margin:0px -50px;">
    <text style="font-size:20px; color:#444444; font-weight:normal; font-family:'Microsoft JhengHei UI';">For people who love movies</text>
  </div>

  <div class="input-group" style="margin-top:30px;">
    <span class="input-group-addon bg-white" style="border-radius:2px 0px 0px 2px;">
      <i class="fa fa-user"></i>
    </span>
    <input class="form-control valid" data-val="true" data-val-required="请输入 用户名。" id="Account" name="Account" placeholder="用户名" style="border-radius:0px 2px 2px 0px ;" type="text" value="">
  </div>
  <span class="text-danger field-validation-valid" data-valmsg-for="Account" data-valmsg-replace="true"></span>

  <div class="input-group" style="margin-top:20px;">
    <span class="input-group-addon bg-white" style="border-radius:2px 0px 0px 2px;">
      <i class="fa fa-lock"></i>
    </span>
    <input class="form-control valid" data-val="true" data-val-required="请输入 密码。" id="Password" name="Password" placeholder="密码" style="border-radius:0px 2px 2px 0px ;" type="password">
  </div>
  <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>

  <div class="input-group" style="margin-top:20px;">
    <a class="link-text" href="/Account/ForgotPassword">忘记密码?</a>
  </div>

  <div class="input-group full-width" style="margin-top:20px;">
    <input type="submit" value="登录" class="btn btn-primary btn-block" style="border-radius:2px;">
  </div>

  <div class="input-group" style="margin-top:10px;">

  </div>
</div>

<div class="panel panel-body center-horizon panel-login font-larger">
  没有账号？&nbsp;&nbsp;<a class="link-text" href="/Account/Register">注册一个. </a>
</div>